.res-departure{
	background-image:url(images/departrue_city_active.png);
}
.res-arriving{
	background-image:url(images/arrive_city_active.png);
}
.res-cabin{
	background-image:url(images/class.png);
}
.res-departuredate{
	background-image:url(images/dep_date.png);
}
.res-exchange{
	background-image:url(images/change.png);
}
.res-dancheng-active
{
    background-image:url(images/dancheng_active.png); 
}
.res-dancheng
{
    background-image:url(images/dancheng.png); 
}
.res-wangfan-active
{
    background-image: url(images/wangfan_active.png);
}
.res-wangfan
{
    background-image: url(images/wangfan.png);
}
.res-frequent
{
    background-image:url(images/frequent_traveler.png);
}
.res-myorder
{
    background-image:url(images/my_order.png); 
}
.res-search
{
    background-image:url(images/search.png); 
}
.res-phone-find
{
    background-image:url(images/phone_find.png); 
}
.tab-bg
{
    background-color:#4A4A4A; 
}
.blue_border
{
    border-bottom-color:#099FDE;
    color: #099FDE;
}
.user-plane-ticket-search-tx
{
    color: #C2C2C2;
}
.tx_red
{
    color: red;
}
.float-r
{
    float: right;
}
.c-f6f{
	background-color:#f6f6f6;
}
.umar-body {
	margin: .66em;
}
.umar-t1{
	margin-top:1em;
}
.b-c0c{
	border-color:#c0c0c0;
}
.list{
	min-height:2.5em;
}
.uinn-lrlist{
	padding:0 .625em;
}
.umar-lrtxt{
	margin:0 0.5em;
}
.umar-l1
{
    margin-left: 1em;
}
.umar-r1
{
    margin-right: 1em;
}

.t-c2c{
	color:#c2c2c2;
}
.tabcard{
	padding: .85em 0;
	text-align:center;
	border-bottom:1px solid #a1a1a1;
}
.cur{
	background-color:#218dd5;
	color:#fff;
	border-bottom:1px solid #218dd5;
}
.umwh-ex{
	min-height:1em;
	min-width:1em;
}
.exchange{
	height:3.5em;
	width:3.5em;
	border-radius:0.3em;
	-webkit-border-radius:0.3em;
	margin-left:0.625em;
}
.t-218{
	color:#218dd5;
}
.tx-black
{
    color:#000000;
}
.btn-search{
    margin-left: 0.66em;
    margin-right: 0.66em;
}
.user-bc-bg {
/*background-image: url(../../../new_main_content/css/myImg/newbg.jpg) !important;*/
background-size: 100%;
}
.bc-head {
background-color: #51c4d4 !important;
}
