.deep-bg{
	background-color: #287C57 !important;
	color: #fff;
}
.shallow-bg{
	background-color: #38B87F !important;
	color: #fff;
}
.deep-text{
	color: #287C57 !important;
}
.shallow-text{
	color: #38B87F !important;
}
.mui-switch.mui-active {
    border-color: #38B87F;
    background-color: #38B87F;
    background-clip: initial;
}