.deep-bg{
	background-color: #3a5a98 !important;
	color: #fff;
}
.shallow-bg{
	background-color: #5890ff !important;
	color: #fff;
}
.deep-text{
	color: #3a5a98 !important;
}
.shallow-text{
	color: #5890ff !important;
}
.mui-switch.mui-active {
    border-color: #5890ff;
    background-color: #5890ff;
    background-clip: initial;
}
