.toPic{
    background-size: contain;
    background-image: url(images/to1.png);
    width:3.3rem;
    height:0.8rem;
    margin: auto 0.5rem;
    background-repeat: no-repeat;
}
.uinn-pLb1{
	padding-bottom:0.7em;
}
.uinn-pL1{
	padding:1em 0.625em 0.35em 0.625em;
}
.pwdImg{
	background-image:url('myImg/pwdImg.png');
}
.mar-ar2{
	margin-right:0.375em;
}
.b-gra3{
	border-color:#d8d8d8;
}
.t-gra2{
	color:#d8d8d8;
}
.uinn-a6{
	padding:1em 0.65em 0 0.65em;
}
.uinn-a2{
	padding:0.85em 0;
}
.uinn-at2{
	padding-top:0.75em;
}
.c-blu2{
	background-color:#415a79;
}
.uinn-at1{
    padding-top:1em;
}
.res-qianyitian
{
    background-image: url('images/qianyitian.png');
    float:left;
    width:1em;
    height: 1em;
}
.res-houyitian
{
    background-image: url('images/houyitian.png');
    
    width:1em;
    height: 1em;
}
.res-riqi
{
    background-image: url('images/riqi.png');
 
    width:1em;
    height:1em;
    padding-left: 1em;
}
.res-qichepiao
{
    background-image: url('images/qichepiao.png');
    height: 32px;
}
.umar-l5
{
    margin-left: 12%;
}
.umar-r5
{
    margin-right:12%;
}
.umar-a1
{
   margin-top: 5%;
   margin-left: 5%;
   margin-right: 5%;
}
.umar-a2
{
   margin-left: 5%;
   margin-right: 5%;
}
.center{
    text-align:center;
}
#show{
    padding-left: 1.2em;
    padding-right: 1.2em;
}
.btn-35{
    line-height: 2em;
}
.box-center{
    -webkit-box-align:center;
}
.umar-l-3{
    margin-left: -3em;
}
.umar-l1{
    margin-left: 1.6em;
}
.umar-r-1{
    margin-right: -0.6em;
}
.f-white{
    color:#fff;
}
.date-w{
    width: 19%;
margin-right: 1.2em;
}
.tx-white{
border-color: #FFFFFF;
}
#trainSeatList{
    margin-top: 0.5em;  
}
.listOne{
    border-top: 1px solid #BABABA;
}
.train-book-head .small{
    font-size: 0.7em;
}
.train-book-head{
    padding: 1em 0 !important;
}
.train-book-head .t-left,.train-book-head .t-right{
    width:40%;
    overflow: hidden;
}
.train-book-head .big{
    font-size: 1.3em;
    font-weight: bold;
}
.train-book-head .biged{
    font-size: 1.5em;
}
.train-book-head .s-left{
    margin-left: 0.3em;
}
.train-book-head .big-txt{
    margin: 0.3em 0;
}
.res-stopImg{
    background-image:url('images/to.png');
    height: 1em;
    text-align: center;
    padding-bottom: 0.4em;
    background-position: right bottom;
    width: 5em;
}
.train-b-center {
    margin: 0 1em;
}
.train-book-ul{
    margin-top: 1em !important;
    background-color: #fff;
}
.train-book-ul li{
    padding: 0 0.6em;
}
.train-book-ul li > .ub{
    padding: 0.8em 0;
    border-bottom: 1px solid #eae9ee;
}
.train-book-ul li:last-child .ub{
    border-bottom: 0;
}
.train-book-ul li .type{
    width: 30%;
    color: #3a5a98;
    font-weight: bold;
}
.train-book-ul li .num{
    width: 20%;
    color: #6278AB;
}
.train-book-ul li .money{
    width: 30%;
    color: #FC8B1B;
    font-weight: bold;
}
.train-book-ul li .buy{
    width: 20%;
    background-color: #5890FF;
    color: #fff;
    text-align: center;
    border-radius: 0.3em;
    padding: 0.4em 0;
}
.train-book-ul li .gray{
    background-color: #B0B0B1;
}
.train-book-ul li .reserve:active{
    opacity: 0.8;
}
