.sc-bg-active {
   background-color: #f2f2f2 !important;
}
.toPic{
    background-size: contain;
    background-image: url(../img/to1.png);
    width:3.3rem;
    height:0.8rem;
    margin: auto 0.5rem;
    background-repeat: no-repeat;
}
.m-header{
    position: absolute;
    height:1.5rem;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3a5a98;
    color: #fff;
    font-size: 0.6rem;
    font-weight: bold;
}
.m-header-left{
    width: 2.52rem;
    padding-left: 0.48rem;
}
.m-header-left .user-icon-goback{
    width: 0.8rem;
    height:0.8rem;
}
.m-header-right{
     width: 2.52rem;
    padding-right: 0.48rem;
}
.m-header-right .user-icon-phone{
    width: 0.8rem;
    height:0.8rem;
}
/*.m-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}*/
.m-content{
    position: absolute;
    top: 1.5rem;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    overflow-y: auto;
}
::-webkit-scrollbar  
{  
    width: 0;  
    height: 0;  
    background-color: #fff;  
}
.train-ticket-footer{
    background: -ms-linear-gradient(top, #7ca9fc,  #5d93ff);        /* IE 10 */
    background:-moz-linear-gradient(top,#b8c4cb,#5d93ff);/*火狐*/     
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#7ca9fc), to(#5d93ff));/*谷歌*/     
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7ca9fc), to(#5d93ff));      /* Safari 4-5, Chrome 1-9*/   
    background: -webkit-linear-gradient(top, #7ca9fc, #5d93ff);   /*Safari5.1 Chrome 10+*/    
    background: -o-linear-gradient(top, #7ca9fc, #5d93ff);  /*Opera 11.10+*/
    background: linear-gradient(top, #7ca9fc, #5d93ff);  
    height: 1.5rem;
    color: #fff;
    font-size: 0.5em;
}
.train-ticket-footer img{
    margin-right: 0.2em;
    width: 1.2em;
    height: 1.2em;
}
.train-ticket-body{
    background-color: #f6f7f9;
}
.train-ticket-con .list{
    background-color: #fff;
    padding: 0 0.48rem;
    margin-bottom: 0.38rem;
    font-size: 0.5rem;
    color:#546581; 
    border-bottom: 1px solid #eae9ee;
    border-top: 1px solid #eae9ee;
}
.train-ticket-con .list:last-child{
    margin-bottom: 0
}
.first-head > .ub-ac{
    min-height: 2.25rem;
    font-size: 0.8rem;
}
.first-head .mbsc-control-ev{
    height:100%;
    width: 100%;
    border: 0;
    -webkit-box-flex: 1;
    box-flex: 1;
    display: -webkit-box !important;
    display: box !important;
    position: relative;
    background-color:#fff;
    padding: 0.6rem 0;
    font-size: 0.8rem;
    color:#9098a3; 
}
.first-head .my-select{
    display: none;
    border: 0;
    opacity: 0;
}
.first-head .select-ul{
    font-size: 0.8rem;
    color:#9098a3; 
}
.dw-i .s-date{
    font-size: 0.6em;
}
#selectUl_dummy{
    height:100%;
    width: 100%;
    border: 0;
    -webkit-box-flex: 1;
    box-flex: 1;
    display: -webkit-box !important;
    display: box !important;
    position: relative;
    background-color:#fff;
    padding: 0.6rem 0;
    font-size: 0.8rem;
    color:#9098a3; 
    min-height: 1em;
}
.train-ticket-con .first-head .fa-angle-right{
    font-size: 0.8rem;
    color:#9098a3; 
}
.train-ticket-con .two-list{
    padding: 0.5rem 0.48rem;
    font-size: 0.55rem;
}
.train-ticket-con .three-list{
    padding-bottom: 0.8rem;
}
.three-list .tr:first-child{
    padding-top: 0.6rem;
}
.three-list .tr .icon{
    background: url("../img/train_head.png") no-repeat;
    width: 1.46rem;
    height: 1.46rem;
    background-size: 100%;
}
.three-list .tr .con{
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 0.3rem;
    min-height: 1.3em;
}
.three-list .tr .address{
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #eae9ee;
    width: 100%;
}
.three-list .tr:nth-of-type(2){
    padding: 0.5rem 0;
    border-bottom: 1px solid #eae9ee;
}
.three-list .tr .week{
    font-size: 0.5rem;
}
.three-list .tr:nth-of-type(3){
    padding: 0.5rem 0;
    border-bottom: 1px solid #eae9ee;
}
.train-ticket-con .list .switch{
    font-size: 0.5rem;
    background-color: #DFDFDF;
    border-color: #ddd;
}
.train-ticket-con .list .sc-bg-active{
    background-color: #fff;
}
.train-ticket-con .list .bc-head{
    background-color: #6cbdf5;
}
.footer-ub{
    width: 100%;
    height: 100%;
    border-top: 1px solid #ddd;
}
.train-d-footer{
    background-color: #fff;
    height: 2.8em;  
    font-size: 1em;
    border-top: 1px solid #ddd;
    width: 100%;
}
.train-d-footer > .ub{
    width: 50%;
    height: 100%;
}
.train-d-footer .train-d-info{
    padding: 0 0.6em;   
    width: 70%; 
}
.train-d-info .big{
    font-weight: bold;
}
.train-d-info .money{
    color: #FE0001;
    font-size: 1.3em;
}
.train-d-footer .train-d-btn{
    background-color: #F6C255;
    color: #fff;    
    width: 30%
}
.train-order .train-order-list{
    background-color: #fff;
    padding: 0.4em 0.6em;
    color: #76879B;
    font-size: 1em;
    margin: 0.5em 0;
}
.train-order .o-head{
    padding-right: 1.5em;
}
.train-order .o-head .success{
    color: #F6C255;
    font-size: 1.3em;
    font-weight: bold;
}
.train-order .o-head .money{
    color: #FE211F;
}
.train-order .o-head .no{
    margin-top: 0.5em;
    color: #3C69A4;
}
.train-order .o-info .tr{
    margin: 0.3em 0;
}
.train-order .o-info .td:nth-of-type(1),.train-order .o-info .td:nth-of-type(3){
    width: 35%;
}
.train-order .o-info .td:nth-of-type(2){
    width: 30%;
}

/*经停信息*/
.stop-info{
    background-color: #fff;
    color: #52637F;
}
.stop-info .stop-head{
    padding: 1em 0;
    border-bottom: 1px solid #ddd;
}
.stop-info .stop-head > div{
    width: 22%;
    text-align: center;
}
.stop-info .stop-head > div:first-child{
    width: 34%;
}
.stop-con li{
    height: 3em;
    position: relative;
}
.stop-con li > div{
    width: 22%;
    text-align: center;
    color: #546380;
    position: relative;
}
.stop-con li > div:first-child{
    text-align: left;
    width: 34%;
    padding-left: 2em;
    box-sizing: border-box;
}
.stop-con li > div:first-child:before{
    position: absolute;
    top: 0.25em;
    left: 0.8em;
    width: 0.6em;
    height: 0.6em;
    border: 2px solid #5890FF;
    content: '';
    border-radius: 50%;
    z-index: 2
}
.stop-con li:first-child > div:first-child:before{
    background-color: #5890FF;
}
.stop-con li:last-child > div:first-child:before{
    background-color: #5890FF;
}
.stop-con li:after{
    position: absolute;
    top: 1.85em;
    left: 1.05em;
    width: 0.2em;
    height: 2.4em;
    background-color: #E5EEF5;
    content: '';
    z-index: 1
}
.stop-con li:last-child:after{
    display: none;
}
.stop-con li:first-child > div:nth-of-type(1){
    color: #5890FF;
}
.stop-con li:first-child > div:nth-of-type(3){
    color: #5890FF;
}
.stop-con li:last-child > div:nth-of-type(1){
    color: #5890FF;
}
.stop-con li:last-child > div:nth-of-type(2){
    color: #5890FF;
}
#submitBtn{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
.mbsc-mobiscroll .mbsc-sc-whl-w{
	width: 100%;
}