.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}
.bc-head{
	background-color: #3b5999;
	color:#fff;
}
.user-icon-goback{
    background-image:url(../img/goback.png)
}
.order-detail .list{
	background-color: #fff;
	padding: 0.6em;
	color: #788599;
	font-size: 1em;
	border-top: 0.6em solid #F4F4F4;
}
.list-head .title{
	color: #F7C255;
	padding-bottom: 0.3em;
	font-size: 1.5em;
}
.list-head .code{
	color: #3C69A3;
}
.list-head .total{
	color: #FE191A;
	font-weight: bold;
}
.order-detail .list-table{
	position: relative;
}
.list-table .plane-bg{
	position: absolute;
	top: 0;
	right: 0;
	width: 4em;
}
.list-table .tr .td{
	width: 35%;
}
.list-table .tr .center{
	width: 30%;
	text-align: center;
}
.list-table .tr .td:nth-of-type(1){
	text-align: right;
}
.list-table .arrow{
	width: 1.2em;
	height: 1.2em;
}
.list-table .bold{
	font-weight: bold;
	color: #546380;
}
.list-table .tr:nth-of-type(2){
	padding: 0.3em 0;
}
.list-table .green{
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
}
.list-table .end{
	width: 0.5em;
	height: 0.5em;
	margin-left: 0.5em;
}
.list-table .tr-line .center{
	border-top: 1px dashed #ccc;
}
.list-table .tr-line{
	padding: 0.3em 0;
}
.list-table .logo{
	width: 1em;
	height: 1em;
}
.list-info .tr{
	border-bottom: 1px solid #D7DAE1;
	padding: 0.9em 0;
}
.list-info .tr:nth-of-type(1){
	padding-top: 0.3em;
}
.list-info .name{
	width: 6em;
}
.list-info .people-con{
	border: 0;
	padding-bottom: 0;
}
.list-info .people-con .tr{
	word-break: break-all;
}
.people-con .people .p-name{
	width: 30%;
	padding-right: 0.5em;
}
.list-info .tel{
	width: 1.5em;
	height: 1.5em;
}
.list-note .name{
	width: 6em;
}
.list-note .con{
	word-break: break-all;
}
.list-hotels .title{
	color: #000;
	font-weight: 300;
	margin-bottom: 0.5em;
}
.list-hotels p{
	color: #929AA5;
	padding: 0.2em 0;
}
.list-hotels .rule{
	color: red;
}
.footer{
	height: 2.8em;
	background-color: #72A1FD;
	text-align: center;
	color: #fff;
	font-size: 1em;
	line-height: 2.8em;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.order-detail .pb{
	padding-bottom: 2.8em;
}
.list-other .name{
	width: 6em;
}
.cancel-btn{
	height: 2.8em;
	background-color: #72A1FD;
	text-align: center;
	color: #fff;
	font-size: 1em;
	line-height: 2.8em;
	margin-top: 0.5em;
}
.trip{
	font-size: 0.8em;
	color: red;
	padding-top: 0.3em;
	text-align: center;
}
