.user-icon-goback{
    background-image:url(../img/goback.png)
}
.station:first-child:after{
    position: absolute;
    top: 1rem;
    left: 0.4rem;
    width: 0.2rem;
    height: 2rem;
    background-color: #E5EEF5;
    content: '';
    z-index: 1;
}
.station:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 0.8rem;
    height: 0.8rem;
    border: 2px solid #5890FF;
    content: '';
    border-radius: 50%;
    z-index: 2;
    background-color:#fff;
}
.trip:first-child .path>.station:first-child:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 0.8rem;
    height: 0.8rem;
    border: 2px solid #5890FF;
    content: '';
    border-radius: 50%;
    z-index: 2;
    background-color:#5890ff;
}
.trip:last-child .path>.station:last-child:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 0.8rem;
    height: 0.8rem;
    border: 2px solid #5890FF;
    content: '';
    border-radius: 50%;
    z-index: 2;
    background-color:#5890ff;
}
.trip{
    border:1px solid #EAE9EE;
    margin:0.5rem 0;
    background-color:#fff;
}
.station{
    min-height:3rem;
}
.stationName{
    margin-left:3rem;
}
.path{
    padding:0.8rem;
}
.date{
    margin:0.8rem 0.8rem 0 0.8rem;
    padding-bottom:0.8rem;
    border-bottom:1px solid #e3eee9;
}
