.uh-de{
	height:15em;
}
.uh-de2{
	height:2.4em;
}
.t-bla-de{
	color:#43484b;
}
.t-bla-de2{
	color:#b6b6b6;
}
.t-org-de3{
	color:#f1792a;
}
.uinn-de{
	padding:0 0 0 1.25em;
}
.uinn-de2{
	padding:0.84375em 1.25em;
}
.uinn-de3{
	padding:0.375em 0.625em 0.625em 0.625em;
}
.uinn-r-de{
	padding-right:0.625em;
}
.uwh-de1{
	width:2.5em;
	height:2.5em;
}
.uc-a-de{
	-webkit-border-radius: 2.5em;
	border-radius: 2.5em;
}
.b-gra-de{
	border-color:#828282;
}
.like1{
	background-image:url(images/like.png);
}
.like2{
	background-image:url(myImg/like2.png);
}
.ulev2 {
	font-size: 1.5em;
}
.uinn-a14{
	padding:0.33em 0.67em 0.28em 0.67em;
}
.b-gre1{
	border-color:#6cbd15;
}
.t-gre2{
	color:#6cbd15;
}
.c-gre1{
	background-color:#f2ffe7;
}
.utx-de{
	text-decoration:line-through; 
}
.uinn-a9{
	padding:0.75em 0.625em;
}
.uinn-a9 p{
    line-height: 3em;
}
.uc-a-for1{
	-webkit-border-radius: 0.4375em;
	border-radius: 0.4375em;
}
.c-gra-for2{
	background-color:rgba(255,255,255,0.2);
}
.umar-r-for{
	margin-right:0.4375em;
}
.uwh-for1{
	width:0.4375em;
	height:0.4375em;
}
.umar-at1{
    margin-top: .5em;
}
.mar-ar1{
    margin-right: .5em;
}
.uinn-a7{
    padding: .7em;
}
.uinn-a1{
    padding: .4em
}
.price_space
{
    position:absolute;
    top:9em;
    z-index:9999;
    height:2em;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.6)
}
.uinn {
line-height: 2em;
}

.rd1-text-head {
color: #fff;
}

.ulev-88 {
font-size: 1em !important;
padding: 0.38em 0;
}

.t-gra
{
    color:gray;
}
.uba-details
{
    border:1px solid #c9c9c9;
    
}
.umh-list8{
    height:7.8125em;
}
.umw-list6{
    width:5.9375em;
}
.t-blu1-list{
    color:#579dd5;
}
.t-gra-book{
    color:#4b4b4b;
}
.t-org-details{
    color:#fe7902;
}
.ubb-list{
    border-bottom:1px solid#cccccc;
}
.uinn-details{
    padding:0.2em;
}
.b-gra-c9{
    border-color:#c9c9c9;
}
.umw5-details{
    min-width:5em;
}

.uinn-rd1{
    padding:0.68em 0;
}
.ulh-rd1{
    line-height:1.4em;
}
.c-gre-rd1{
    background-color:#FC7800;
}
.b-gre-rd1{
    border:1px solid #FC7800;
}
.uinn-de1{
    padding:0.625em 0.625em 0.9375em 0.625em;
}
.umar-83{
    margin-right:0.83em;
}
.uinn-l6{
    padding-left:0.625em;
}
.uw-25{
    width:25%;
}
.tx-cc {
color: #c9c9c9;
}
.tx-yy {
color: #FC7800;
}

.nav-btn {
min-height: 2em !important;;
min-width: 4em !important;;
display: -webkit-box !important;
display: box !important;
position: relative;
-webkit-box-align: center;
box-align: center;
-webkit-box-pack: center;
box-pack: center;
}
.h-bc-head {
background-color: #51c4d4;
}

/* 2016-12-02 */
#roomCount_dummy{
    width:6rem;
    border:none !important;
}
input{
    background-color: #fff !important;
    border:none !important;
}
.section{
    background-color:#fff;
    padding:0.75em 0.5rem 0.8em 0.5rem;
    border-top:#eae9ee 1px solid;
}
.message{
    color:#9098A3;
}
.order-detail{
    display:flex;
    display:-webkit-flex;
    margin:0 0 0.75em 0;
    border-bottom: #eae9ee 1px solid;
}
.od-hotel{
    color:#f7c252;
    font-size:2em;
    font-weight: 900;
}
#orderId{
    margin-top:0.75em;
    color:#3B69A4;
    font-weight: 900
}
#order{
    color:#fff;
    height:2rem;
    width:40%;
}
#footer{
    border-top:2px solid #EAE9EE;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 2rem;
}
#price{
    color:red;
    font-weight: bold;
}
.hotel-detail{
    margin-bottom:1.5em;
    border-bottom: #eae9ee 1px solid;
    margin-top: 3.8em;
}
.hd-hotel{
    font-size:20px;
    margin-bottom: 0.25em;
}
.hd-date{
    margin:1em 0 0.25em 0;
}
.guest-detail{
    background-color:#FFF;
    border-bottom: #eae9ee 1px solid;
}
.gd-room{
    border-bottom:#D7DAE1 1px solid;
    padding:0.75em 0;
}
.gd-room-title{
    min-width:2.6rem;
    display:inline-block;
}
.gd-room-count{
    width:8.07rem;
    margin-left:0.75rem;
    color:#76869D;
}
.gd-room img{
    position:absolute;
    right:1rem;
    width:1.5em;
    height:0.75em;
}
.gd-guestslist{
    display:flex;
    display:-webkit-flex;
    flex-direction:row;
    align-items:center;
    padding:0.75em 0 0.75em 0 ;
    border-top:#E4E8EB 1px solid;
}
#guests{
    margin-left:0.75rem;
    color:#76869D;
    width:8.07rem;
}
.guest{
    border-bottom:#E4E8EB 2px solid;
    padding:1.25em 0;
}
.gd-phone{
    border-bottom:#D7DAE1 2px solid;
    padding:0.75em 0;
}
.gd-phone-title{
    min-width:2.6rem;
    display:inline-block;
}

.gd-phone-number{
    width:8.07rem;
    margin-left:0.75rem;
    color:#76869D;
}
.gd-phone-number input{
    background-color:#fff;
    border:none;
    color:#76869D;
}
.gd-phone img{
    position:absolute;
    right:1rem;
    width:1.5em;
    height:1.5em;
}
.ruleImg{
    background-image: url('myImg/redMark.png');
    background-size: 100%;
    width: 0.5rem;
    height: 0.5rem;
}
