* {
	margin: 0;
	padding: 0; 
}

.grayImg {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

.um-vp .up {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	
}
.booking{
	background-color: #f4f8f9;
}
.booking .booking-head .banner {
	width: 100%;
}

.booking .booking-con {
	background-image: url(myImg/reservation_bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: #5C677B;
}

.booking-con .c-logo {
	position: absolute;
	background-image: url(myImg/reservation_nav.png);
	width: 3.5rem;
	height: 5.5rem;
	left: 0;
	background-position: left;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 999;
}

.booking-con .list {
    opacity:1;
	font-size: 0.55rem;
	position: absolute;
	right: 0;
	transition: all .4s;
}

.booking-con .list img {
	width: 2.23rem;
	height: 2.23rem;
}

.booking-con .list span {
	position: absolute;
	left: 2.3rem;
	top: 0.65rem;
}

.booking-con .plane {
	left: 21.4%;
	top: 3.75%;
}

.booking-con .hotel {
	left: 40.4%;
	top: 21.6%;
}

.booking-con .train {
	top: 50%;
	-webkit-transform: translate3d(0, -50%,0);
	-moz-transform: translate3d(0, -50%,0);
	-o-transform: translate3d(0, -50%,0);
	-ms-transform: translate3d(0, -50%,0);
	transform: translate3d(0, -50%,0);
	left: 48%;
}

.booking-con .taxi {
	left: 40.4%;
	bottom: 21.6%;
}

.booking-con .catering {
	left: 21.4%;
	bottom: 3.75%;
}
.booking-con .dh{
	/*display: none;*/
	transition: all .7s ease-in;
}
.booking-con .dh.active{
	display: block;
	transition: all .7s ease-in;
}
.move-enter-active .list {
    opacity:1;
	-o-transition-timing-function: cubic-bezier(0, .57, .44, 1.97);
	-webkit-transition-timing-function: cubic-bezier(0, .57, .44, 1.97);
	-moz-transition-timing-function: cubic-bezier(0, .57, .44, 1.97);
	transition-timing-function: cubic-bezier(0, .57, .44, 1.97);
}

.move-enter-active .plane {
	transition-delay: .1s;
}

.move-enter-active .hotel {
	transition-delay: .2s;
}

.move-enter-active .train {
	transition-delay: .3s;
}
.move-enter-active .taxi {
	transition-delay: .4s;
}
.move-enter-active .catering {
	transition-delay: .5s;
}

.move-enter .list,
.move-leave-active .list {
	opacity: 0;
	transition-timing-function: ease-in-out;
}

.move-enter .plane,
.move-leave-active .plane {	
	left: 0;
	transition-delay: .1s;
}

.move-enter .hotel,
.move-leave-active .hotel {
	left: 0;
	transition-delay: .2s;
}

.move-enter .train,
.move-leave-active .train {
	left: 0;
	transition-delay: .3s;
}

.move-enter .taxi,
.move-leave-active .taxi {
	left: 0;
	transition-delay: .4s;
}

.move-enter .catering,
.move-leave-active .catering {
	left: 0;
	transition-delay: .5s;
}
.booking-con .text{
	font-size: 0.6rem;
	position: absolute;
	top: 50%;
	-webkit-transform: translate3d(0, -50%,0);
	-moz-transform: translate3d(0, -50%,0);
	-o-transform: translate3d(0, -50%,0);
	-ms-transform: translate3d(0, -50%,0);
	transform: translate3d(0, -50%,0);
	left: 40%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	display: none;
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		transform: translateY(30px)
	}
	80% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px)
	}
	100% {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%)
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}
	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
		transform: translateY(30px)
	}
	80% {
		-moz-transform: translateY(-100px);
		transform: translateY(-100px)
	}
	100% {
		-moz-transform: translateY(-50%);
		transform: translateY(-50%)
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		-ms-transform: translateY(30px);
		transform: translateY(30px)
	}
	80% {
		-webkit-transform: translateY(-100px);
		-ms-transform: translateY(-100px);
		transform: translateY(-100px)
	}
	100% {
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%)
	}
}

.bounceInDown {
	display: block !important;
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown
}
