<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>制定计划</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="full-screen" content="yes">
		<meta name="browsermode" content="application">
		<link rel="stylesheet" href="../../../css/fonts/font-awesome.min.css">
		<link rel="stylesheet" href="../../../css/ui-box.css">
		<link rel="stylesheet" type="text/css" href="../../../css/mui/mui.min.css" />
		<link rel="stylesheet" href="css/create_plan.css">
		<link title="blue" rel="stylesheet" href="../../../css/skin/skin-blue.css">
		<link title="green" rel="stylesheet" href="../../../css/skin/skin-green.css" disabled="disabled">
		<link title="red" rel="stylesheet" href="../../../css/skin/skin-red.css" disabled="disabled">
		<link title="yellow" rel="stylesheet" href="../../../css/skin/skin-yellow.css" disabled="disabled">
		<link title="black" rel="stylesheet" href="../../../css/skin/skin-black.css" disabled="disabled">
		<script src="../../../js/global.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav deep-bg">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="back"></a>
			<div class="mui-title">制定计划</div>
			<a class="mui-pull-right mui-icon mui-icon-plus"></a>
		</header>
		<div class="mui-content" v-cloak>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" v-for="(item,index) in items">
					<div class="mui-slider-right mui-disabled">
						<div class="mui-btn mui-btn-grey" v-on:tap="edit(item)">修改</div>
						<div class="mui-btn mui-btn-red" v-on:tap="del(item,index)">删除</div>
					</div>
					<div class="mui-slider-handle">
						<div class="p-head ub">
							<div class="type ub-f1">{{item.typeText}}</div>
							<div class="time">
								<span>{{item.month}}</span>
								<span>{{item.week}}</span>
								<span>{{item.time}}</span>
							</div>
						</div>
						<div class="p-body" v-if="item.planType==1">
							<div class="tr ub">
								<div class="ub-f1 left">{{item.planWhere[0]}}</div>
								<div class="center"><i class="fa fa-long-arrow-right"></i></div>
								<div class="ub-f1 right">{{item.planWhere[1]}}</div>
							</div>
						</div>
						<div class="p-body" v-else>
							<div class="tr ub">{{item.planWhere[0]}}</div>
							<div class="tr ub">{{item.address}}</div>
						</div>
						<div class="p-foot">
							<div class="tr ub">
								<div class="red">备注：</div>
								<div class="ub-f1">{{item.planRemark}}</div>
							</div>
						</div>
					</div>
				</li>
			</ul>

			<div class="p-btn">
				<div class="tr">
					<button type="button" data-loading-text="提交中" id="submit" class="mui-btn shallow-bg">一键智能行程</button>
				</div>
				<div class="tr">
					<button type="button" data-loading-text="保存中" id="save" class="mui-btn deep-bg">保存行程计划</button>
				</div>
			</div>
		</div>
	</body>
	<script src="../../../js/mui/mui.min.js"></script>
	<script src="../../../js/vue.min.js"></script>
	<script src="../../../js/myHotelData.js"></script>
	<script src="../../../js/guoneiCity.js"></script>
	<script src="../../../js/guojiCity.js"></script>
	<script src="../../../js/layer/layer.js"></script>
	<script>
		function removePlanCache() {
			localRemoveItem("planDepartCityFlag");
			localRemoveItem("planArrivalCityFlag");
			localRemoveItem("planselectCityFlag");
			localRemoveItem("planDepartCity");
			localRemoveItem("planArrivalCity");
			localRemoveItem("planselectCity");
			localRemoveItem("planDepartCityCode");
			localRemoveItem("planArrivalCityCode");
			localRemoveItem("planselectCityCode");
			localRemoveItem("planEditItem");
			localRemoveItem("planTypeIndex");
			localRemoveItem("planEditTitle");
		}

		removePlanCache();

		var planCreateItem = localGetItem("planCreateItem");
		var app, tripData;
		if(planCreateItem) {
			planCreateItem = JSON.parse(planCreateItem);
			tripData = planCreateItem.exp.tripData;
			localSetItem("planTripMinDate", planCreateItem.exp.begin);
			console.log(planCreateItem);
			app = new Vue({
				el: '.mui-content',
				data: {
					items: []
				},
				methods: {
					edit: function(item) {
						layer.open({
							type: 2,
							content: '正在跳转',
							shadeClose: false
						});
						console.log(event);
						var li = event.target.parentNode.parentNode;
						localSetItem("planEditItem", JSON.stringify(item));
						localSetItem("planEditTitle", 2);
						mui.openWindow({
							url: 'add_plan.html',
							id: 'add_plan'
						});
						mui.swipeoutClose(li);
						layer.closeAll();
					},
					del: function(item, index) {
						var _this = this;
						var li = event.target.parentNode.parentNode;
						mui.confirm('您确定要删除？', '提示', ['是', '否'], function(e) {
							if(e.index == 0) {
								_this.items.splice(index, 1);
								mui.swipeoutClose(li);
							}
						});
					}
				}
			})

			layer.open({
				type: 2,
				content: '正在加载行程',
				shadeClose: false
			});

			mui.ajax({
				url: httpHost + "planlist/" + planCreateItem.exp.expId + ".do",
				type: "GET",
				dataType: "json",
				success: function(data) {
					layer.closeAll();
					console.log(data);
					if(data.length > 0) {
						var planTripData = localGetItem("planTripData");
						if(planTripData) {
							planTripData = JSON.parse(planTripData);
						} else {
							for(var i = 0; i < data.length; i++) {
								data[i].typeText = typePlanText(data[i].planType);
								data[i].month = NYR(data[i].planTime, 2);
								data[i].week = NYR(data[i].planTime, 3);
								data[i].time = HM(data[i].planTime);
								data[i].whereCode = data[i].cityCode.split(",");
								data[i].planWhere = data[i].planWhere.split(",");
								data[i].location = data[i].xy.split(",");
								data[i].xy = data[i].xy.split(",");
								data[i].planId = data[i].planId * 1;
							}
							localSetItem("planTripData", JSON.stringify(data));
							planTripData = data;
						}
						app.items = sortData(planTripData, "planTime", 1, 1);
					} else {
						var planTripData = localGetItem("planTripData");
						if(planTripData) {
							planTripData = JSON.parse(planTripData);
						} else {
							for(var i = 0; i < tripData.length; i++) {
								var cityCode = getCityCode(tripData[i].itiner_from)[0] + "," + getCityCode(tripData[i].itiner_to)[0];
								var hotelCityCode = [getCityCode(tripData[i].itiner_from)[1], getCityCode(tripData[i].itiner_to)[1]];
								tripData[i].planType = 1;
								tripData[i].typeText = typePlanText(tripData[i].planType);
								tripData[i].month = NYR(tripData[i].itiner_begin, 2);
								tripData[i].week = NYR(tripData[i].itiner_begin, 3);
								tripData[i].time = HM(tripData[i].itiner_begin);
								tripData[i].planRemark = '';
								tripData[i].whereCode = cityCode.split(",");
								tripData[i].planWhere = (tripData[i].itiner_from + "," + tripData[i].itiner_to).split(",");
								tripData[i].planTime = tripData[i].itiner_begin;
								tripData[i].cityCode = [cityCode][0];
								tripData[i].hotelCityCode = hotelCityCode;
								tripData[i].location = [0, 0];
								tripData[i].xy = [0, 0];
								tripData[i].address = '';
								tripData[i].planId = i;
							}
							localSetItem("planTripData", JSON.stringify(tripData));
							planTripData = tripData;
						}
						app.items = sortData(planTripData, "planTime", 1, 1);
						console.log(planTripData);
					}
				},
				error: function(err, errMsg, error) {
					layer.closeAll();
					mui.alert("网络出错，请重新查询");
				}
			});

		} else {
			mui.alert("参数出错，请重新查询", function() {
				mui.back();
			});
		}

		mui(".mui-bar").on("tap", ".mui-icon-plus", function() {
			localSetItem("planEditTitle", 1);
			localSetItem("planTripMinDate", app.items[0].planTime);
			mui.openWindow({
				url: 'add_plan.html',
				id: 'add_plan'
			});
		});

		mui(".tr").on("tap", "#submit", function() {
			submintPlans();
		});

		//一键智能行程
		function submintPlans() {
			
			if(app.items.length<=0){
				mui.alert("请先制定行程计划");
				return;
			}
			
			layer.open({
				type: 2,
				content: '<p>正在智能行程</p><p>过程可能会有点久</p>',
				shadeClose: false
			});
			var travelData = [];
			for(var i=0;i < app.items.length; i++) {
				travelData.push({
					whereCode: app.items[i].whereCode.join(","),
					planType: app.items[i].planType,
					planWhere: app.items[i].planWhere.join(","),
					planTime: app.items[i].planTime.dateTime,
					planRemark: app.items[i].notes || "",
					cityCode: app.items[i].whereCode[0],
					hotelCityCode: app.items[i].hotelCityCode,
					location: app.items[i].xy.join(","),
					address: app.items[i].address
				})
			}
			console.log(JSON.stringify(travelData).replace(/"/g, "'"));
//			return;
			mui.ajax({
				url: httpHost + "travelIntelligenceController.do?priceFirstList",
				type: "POST",
				data: {
					json: JSON.stringify(travelData).replace(/"/g, "'"),
					itineraryId: planCreateItem.exp.expId
				},
				timeout: 1000 * 60 * 10,
				dataType: "json",
				success: function(data) {
					layer.closeAll();
					console.log(data);
					if(data.success) {
						localSetItem("planSmartTravelData",JSON.stringify(data));
						appcan.window.open("smartTravel", "smart_travel.html", 2);
					} else {
						mui.alert('智能行程失败，请重新提交');
					}
				},
				error: function(err, errMsg, error) {
					layer.closeAll();
					mui.alert("网络异常，请重新提交");
				}
			})

		}

		mui(".tr").on("tap", "#save", function() {
			savePlans();
		});

		//保存行程计划
		function savePlans() {
			layer.open({
				type: 2,
				content: '正在保存行程计划',
				shadeClose: false
			});
			var planList = [];
			for(var i = 0; i < app.items.length; i++) {
				var newJson = {
					planWhere: app.items[i].planWhere.join(),
					cityCode: app.items[i].cityCode,
					xy: app.items[i].xy[0] + "," + app.items[i].xy[1],
					planTime: NYR(app.items[i].planTime, 1) + ' ' + HM(app.items[i].planTime) + ':00',
					hotelCityCode: app.items[i].hotelCityCode.toString(),
					address: app.items[i].address,
					planRemark: app.items[i].planRemark,
					planId: app.items[i].planId,
					planType: app.items[i].planType
				}
				planList.push(newJson);
			}
			console.log(planList);
			mui.ajax({
				url: httpHost + "planlist/" + planCreateItem.exp.expId + ".do",
				type: "POST",
				timeout: 40 * 1000,
				data: {
					planLists: JSON.stringify(planList)
				},
				dataType: "json",
				success: function(data) {
					console.log(data);
					layer.closeAll();
					mui.toast("保存成功");
				},
				error: function(err, errMsg, error) {
					layer.closeAll();
					mui.alert("网络异常，请重新保存");
				}
			})
		}

		//获取城市三字码
		function getCityCode(city) {
			var cityCode = "",
				hotelCityCode = "",
				flightCityArr;
			for(var i = 0; i < myHotelData.length; i++) {
				if(myHotelData[i].cityName.indexOf(city) > -1) {
					hotelCityCode = myHotelData[i].cityCode;
					break;
				}
			}
			if(city === "澳门" || city === "香港") {
				flightCityArr = intData;
			} else {
				flightCityArr = arrData;
			}
			for(var j in flightCityArr) {
				for(var m = 0; m < arrData[j].length; m++) {
					if(flightCityArr[j][m].display.indexOf(city) > -1) {
						if(flightCityArr === intData) {
							cityCode = flightCityArr[j][m].data.substr(arrData[j][m].data.indexOf("(") + 1, 3)
						} else {
							cityCode = arrData[j][m].data.split("|")[3];
						}
						break;
					}
				}
			}
			return [cityCode, hotelCityCode];
		}
	</script>

</html>