.bg-white{
    background-color: #fff;
}
#hotelInfo{
    margin: 1.2em 0.75em 0;
}
.float-r{
    padding-top: .6em;
}
.s-fone{
    font-size: 1em;
}
.btn-all{
    margin-top: 0.7em;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
}
.btn-s{
    height: 2.5em;
    color: #4679ff;
}
/* orderDetail */
.show{
    padding-left: 1.2em;
    padding-right: 1.2em;
}
.user-bc-head{
    background-color: #51c4d4 !important;
}
.tx-c{
    color:white;
}
.phone{
    background-image:url("../../../../css/user_icons/phone.png");
}
#content{
    background-color:#f4f8f9;
}
#footer{
    height:3em;
}
.footer-inside{
    display:flex;
    display:-webkit-flex;
    height:3em;
}
.footer-submit{
    height:3em;
    line-height:3em;
    flex:1;
    text-align:center;
    color:#fff;
    background-color:#72A1FD;
}
.footer-cancel{
    height:3em;
    line-height:3em;
    flex:1;
    text-align: center;
    background-color:#fff;
    color:#72A1FD;
}
/* orderDetail_content */
.section{
    background-color:#fff;
    padding:0.75em 0.5rem 0.8em 0.5rem;
    border-top:#eae9ee 1px solid;
}
.message{
    color:#9098A3;
}
.order-detail{
    display:flex;
    display:-webkit-flex;
    margin:0 0 0.75em 0;
    border-bottom: #eae9ee 1px solid;
}
.od-hotel{
    color:#f7c252;
    font-size:1.5em;
    font-weight: 900;
}
#orderId{
    margin-top:0.75em;
    color:#3B69A4;
    font-weight: 900
}
#price{
    color:red;
    font-weight: bold;
}
.hotel-detail{
    margin-bottom:1.5em;
    border-bottom: #eae9ee 1px solid;
}
.hd-hotel{
    font-size:1.5em;
    margin-bottom: 0.25em;
}
.hd-date{
    margin:1em 0 0.25em 0;
}
.guest-detail{
    background-color:#FFF;
    border-bottom: #eae9ee 1px solid;
}
.gd-room{
    border-bottom:#D7DAE1 1px solid;
    padding:0.75em 0;
}
.gd-room-title{
    min-width:2.6rem;
    display:inline-block;
}
.gd-room-count{
    width:8.07rem;
    margin-left:0.75rem;
    color:#76869D;
}
.gd-guestslist{
    display:flex;
    display:-webkit-flex;
    flex-direction:row;
    align-items:center;
    padding:0.75em 0 0.75em 0 ;
    border-top:#E4E8EB 1px solid;
}
#guests{
    margin-left:0.75rem;
    color:#76869D;
    width:8.07rem;
}
.guest{
    border-bottom:#E4E8EB 2px solid;
    padding:1.25em 0;
}
.gd-phone{
    border-bottom:#D7DAE1 2px solid;
    padding:0.75em 0;
}
.gd-phone-title{
    min-width:2.6rem;
    display:inline-block;
}

.gd-phone-number{
    width:8.07rem;
    margin-left:0.75rem;
    color:#76869D;
}
.gd-phone-number input{
    background-color:#fff;
    border:none;
    color:#76869D;
}
.gd-phone img{
    position:absolute;
    right:0.5rem;
    width:1.5em;
    height:1.5em;
}
