body{
    margin:0;
    padding:0;
    background-color: rgb(244,248,249);
    /*font-size: 0.8rem;*/
}
.content{
    background-color: #FFFFFF;
    font-size: 0.8rem;
}
.segmentation{
    height: 10px;
    background-color: rgb(244,248,249);
    border-top:1px solid #EBEBEB; 
}
.segmentations{
    height: 5px;
    background-color: rgb(244,248,249);
}
.hotel_pic{
    width: 100%;
    height: 10.8rem;
    overflow:hidden;
    position: relative;
    border-bottom: 1px solid #EBEBEB;
}
.hotel_pic img{
    width: 100%;
    height: 10.8rem;
}
.hotel_pic_left{
    max-width: 70%;
    height:1.2rem;
    line-height:1.2rem;
    position: absolute;
    left:0;
    bottom: 1rem;
    padding: 0.3rem 0.5rem;
    background-color: rgba(88,144,255,0.8);
    color: #FFFFFF;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    z-index: 9;
}
.hotel_pic_right{
    max-width: 80%;
    height:1.2rem;
    line-height:1.2rem;
    position: absolute;
    right:0.6rem;
    bottom: 1rem;
    padding: 0 0.3rem;
    background-color: rgba(0,0,0,0.6);
    color: #FFFFFF;
    border-radius:0.2rem; 
     z-index: 9;
}
.detailed_address{
    margin-right:1rem;
    margin-left:1rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.address_details{
    min-width: 40%;
    max-width: 80%;
    min-height:2rem;
    max-height:4rem;
    float: left;
    line-height: 1.2rem;
}
.address_query{
    float: right;
    line-height:3rem;
    text-align: right;
    color: #89888B;
}
.address_distance{
    width: 80%;
    height:1.5rem;
    line-height:1.5rem;
    color: #89888B;
    float:left;
    display:block;
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
}
.hotel_details{
    width: 100%;
    height:5rem;
    border-top: 1px solid #EBEBEB;
    border-bottom: 8px solid rgb(244,248,249);
}
.hotel_details>div:nth-child(1){
    width: 70%;
    float: left;
    margin-left: 1rem;
    margin-top: 0.6rem;
}
#shortDesc{
    color: #808da1;
    font-size: 0.7rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
#hotelTel{
     color: rgb(88,144,255);
     font-weight: 900;
     font-size: 0.9rem;
 }
 
.hotel_details>div:nth-child(2){
    height:4rem;
    line-height:4rem;
    float: right;
    text-align: right;
    color: #89888B;
    margin-right: 1rem;
}
.hotel_details>div:nth-child(3){
    width: 75%;
    float: left;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.hotel_details>div:nth-child(3)>img{
    width: 6.8%;
}
.right_back{
    font-size: 1rem;
}
.Check_in_time{
    padding: 0.8rem 1rem;
    color: #89888B;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 0.8rem;
}
.sum_time{
    float: right;
}
.room_information_ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ebebeb;
}
.room_information_ul>li{
    
}
.room_information{
 margin: 1rem 1rem 0;
border-bottom: 1px solid #e5e4e3;
padding-bottom: 0.8rem;
}
.room_information>div:nth-child(1){
    width: 2rem;
    height: 3.5rem;
    padding-top: 0.2rem;
}
.room_information>div:nth-child(1)>img{
    width: 100%;
    height: 100%;
}
.room_introduce{
    width:6rem;
    margin-left: 0.6rem;
}
.room_introduce>div:nth-child(2){
    color: #89888B;
    font-size: 0.7rem;
    line-height: 1.3rem;
}
.room_introduce>div:nth-child(3){
    color: #89888B;
    font-size: 0.7rem;
    line-height: 1.3rem;
}
.room_information .drop_down_an{
    width:5rem;
    height: 3.8rem;
}
.room_information>div:nth-child(3)>img{
    width:0.8rem;
    height:0.6rem;
    float: right;
    margin-top: 1.3rem;
}
.room_information .price{
    padding-right: 0.4rem;
    color: rgb(88,144,255);
    font-weight: 900;
}
.room_information>div:nth-child(3)>div>span:nth-child(2){
    font-size: 0.7rem;
}
.hotel_conditions_li{
    
}
.hotel_conditions{
    padding:0 1rem;
    height: 3rem;
    background-color: #EBEBEB;
}
.hotel_conditions>div:nth-child(1){
    width:30%;
    float:left;
    line-height: 3rem;
}
.drop_down_an .order{
    width:2rem;
    height: 2rem;
    line-height:2rem;
    padding: 0.1rem 0.3rem;
    float: right;
    background-color: rgb(88,144,255);
    text-align: center;
    color: #FFFFFF;
    border-radius:0.2rem;
}
.hotel_conditions>div:nth-child(3){
    height:3rem;
    line-height:3rem;
    float: right;
    padding-right: 0.5rem;
    color: rgb(88,144,255);
    font-weight: 900;
    font-size: 0.7rem;
}