body {
	margin: 0;
	padding: 0;
	background-color: #F6F7F9;
	font-family: Microsoft YaHei;
}

.Hotel_conten>div {
	background-color: #fff;
}

.cost {
	min-height: 2.25rem;
	border-bottom: 1px solid #eae9ee;
	margin-bottom: 0.4rem;
	position: relative;
	padding: 0 0.48rem;
	font-size: 1em;
}

.cost .con {
	min-height: 2.25rem;
}

.cost .fa {
	font-size: 0.8rem;
	color: #9098a3;
}

.ub .name {
	font-size: 1em;
	color: #546581;
	/*padding-left: 0.48rem;*/
}

.clearfloat {
	height: 100%;
}

.cost .mbsc-control-ev {
	height: 100%;
	width: 100%;
	border: 0;
	-webkit-box-flex: 1;
	box-flex: 1;
	display: -webkit-box !important;
	display: box !important;
	position: relative;
	background-color: #fff;
	padding-left: 0.8rem;
	font-size: 0.8rem;
	color: #909AA3;
	font-family: Microsoft YaHei;
}

.right_jiantou {
	position: absolute;
	width: 2rem;
	height: 2rem;
	top: 0;
	right: 0.3rem;
}

.right_jiantou>img {
	width: 0.8rem;
	float: right;
	margin-top: 1.8rem;
	margin-right: 0.8rem;
}

.Stay_city {
	/*height: 1.6rem;*/
	/*line-height: 1.6rem;*/
	border-top: 1px solid #eae9ee;
	border-bottom: 1px solid #eae9ee;
	overflow: hidden;
	padding: 0.5em;
	margin-top: 0.8em;
}

.Stay_city .li_two {
	font-size: 1.2em;
	color: #536480;
	font-weight: 900;
	padding-left: 0.8em;
}

.Stay_time {	
	padding: 0.8em 0 0 0;	
}

.Stay_time_title {
	font-size: 1em;
	color: #546581;
	/*margin: 0 0.48rem;*/
}

.Stay_time_title>span:nth-child(1) {
	text-align: left;
}

.Stay_time_title>span:nth-child(2) {
	float: right;
	padding-right: 0.3rem;
}

.Stay_time_time {
	/*margin: 0 0.48em;*/
	padding: 0.65em 0;
	border-bottom: 1px solid #eae9ee;
}

.Stay_time_time>p {
	width: 42.5%;
	float: left;
}

#endDate {
	padding-right: 0.3rem;
	text-align: right;
}

.Stay_time_time>.ub-f1 {
	line-height: 0;
	width: 2.5rem;
	text-align: center;
}

.Stay_time_time>div>img {
	width: 1.2rem;
}

.Stay_time_time .date {
	font-size: 1.2em;
	color: #546581;
	font-weight: 900;
}

.Stay_time_time .week {
	font-size: 0.8em;
	color: #546581;
}

.Amount_range {
	color: #546581;
}

.Amount_title {
	font-size: 1em;
	padding: 0.5em 0 1em;
}

.Amount_effect {
	/* height:1rem;*/
	line-height: 2em;
	padding: 0.5em 0;
	position: relative;
}

.Amount_effect .noUi-base {
	border-radius: 4px;
}

.Amount_price {
	font-size: 0.7em;
	/*margin: 0rem 0.48rem 0 0.48rem;*/
	padding-bottom: 0.5em;
	border-bottom: 1px solid #eae9ee;
	display: flex;
	display: -webkit-flex;
}

.Amount_price>span {
	display: inline-block;
	text-align: left;
	flex: 1;
}

.place_choose {
	font-size: 1em;
	padding: 0.5em 0 0.8em;
	color: #546581;
}

.place_choose_options {
	margin: 1em 0 0;
	display: flex;
	display: -webkit-flex;
}

.place_choose_ok {
	color: white;
	background-color: rgb(108, 189, 245);
}

.place_choose_no {
	background-color: #EBEBEB;
	color: #89888B;
}

.place_choose_options>div {
	font-size: 0.7em;
	height: 2.4rem;
	line-height: 2.4rem;
	flex: 1;
	text-align: center;
	border: 1px solid rgb(84, 100, 125);
	border-right: none;
}

.place_choose_options>div:first-child {
	border: 1px solid rgb(84, 100, 125);
	border-right: none;
	border-top-left-radius: 1.2em;
	border-bottom-left-radius: 1.2em;
}

.place_choose_options>div:last-child {
	border-top-right-radius: 1.2em;
	border-bottom-right-radius: 1.2em;
	border-right: 1px solid rgb(84, 100, 125);
}

.instructions {
	/*padding: 0 0.48rem;*/
	color: #89888B;
}

.instructions input {
	font-size: 1em;
	border-bottom: 1px solid #eae9ee;
	height: 2.5em;
}

.clearfloat .select {
	width: 100%;
	border: 0;
	background-color: transparent;
}

.hotel-footer {
	background: -ms-linear-gradient(top, #7ca9fc, #5d93ff);
	/* IE 10 */
	background: -moz-linear-gradient(top, #b8c4cb, #5d93ff);
	/*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7ca9fc), to(#5d93ff));
	/*谷歌*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7ca9fc), to(#5d93ff));
	/* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #7ca9fc, #5d93ff);
	/*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #7ca9fc, #5d93ff);
	/*Opera 11.10+*/
	background: linear-gradient(top, #7ca9fc, #5d93ff);
	height: 2.5em;
	color: #fff;
	font-size: 1em;
}

.hotel-footer img {
	margin-right: 0.2em;
	width: 1.2em;
	height: 1.2em;
}

#reason_dummy {
	font-family: Microsoft Yahei !important;
	height: 100%;
	width: 100%;
	border: 0;
	-webkit-box-flex: 1;
	box-flex: 1;
	display: -webkit-box !important;
	display: box !important;
	position: relative;
	background-color: #fff;
	padding: 0.6rem 0;
	font-size: 0.8rem;
	color: #9098a3;
	min-height: 1em;
}

#reason {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0.8rem;
	display: none;
}

#reason>li {
	list-style: none;
	font-size: 1.5rem;
	color: #9098a3;
	height: 100%;
}


p {
	margin: 0;
}

.noUi-horizontal .noUi-handle {
	width: 1.3em;
	height: 1.3em;
	top: -0.45em;
	background-color: rgb(247, 194, 85);
	border-radius: 50%;
	border: none;
}

.noUi-horizontal {
	height: 0.4em;
}

.noUi-handle:after,
.noUi-handle:before {
	display: none;
}

#rangeMin {
	display: none;
}

#rangeMax {
	display: none;
}

#order {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.mbsc-mobiscroll .mbsc-sc-whl-w {
	width: 100%;
}

.Hotel_conten {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

.ub-gps {
	width: 2em;
	height: 2em;
}

.ub-price {
	margin-left: 2%;
}
.stay-padding{
	padding: 0 0.5em;
	border-top: 1px solid #eae9ee;
	margin-top: 0.8em;
}
