.list-header{
    background-color: #5890ff;
    height: 2.2rem;
    color: #fff;
}
.hotel-img{
    width: 0.9rem;
    height: 0.9rem;
    margin-left: 1rem;
}
.list-font{
    margin-left: 0.6rem;
    font-size: 0.86rem;
}
/******************/
#hotelList{
    margin: 0.6rem 0.8rem 0;
}
.hotel_show{
    margin-top: 1rem;
    -webkit-box-shadow: 2px 2px #e4e6e5;
    -moz-box-shadow: 2px 2px #e4e6e5;
    -o-box-shadow: 2px 2px #e4e6e5;
    box-shadow: 2px 2px #e4e6e5;
}
.hotel_show img:first-child{
    height: 11rem;
    width: 100%;
}
.hotel-price{
    width:4rem; 
    height:4rem;
    -webkit-border-radius:50%; 
    -moz-border-radius:50%; 
    -o-border-radius:50%; 
    border-radius:50%; 
    background-color: #f8c255;
    border: 3px solid #fff;
    position: absolute;
    top: 8rem;
    left: 70%;
    font-size: 0.8em;
    color:#333;
}
.hotel-price div:first-child{
    top: 17%;
}
.hotel-price .line-img{
    width:3.6rem;
    top:24%;
}
.hotel-price div:last-child{
    top:28%;
    font-weight:700;
}
.hotel-name {
margin-top: 0.6rem;
padding-left: 1rem;
color: #5890fc;
font-size: 0.9rem;
font-weight: 700;
}
.address{
    padding: .4rem .5rem .7rem 1rem;
    font-size: 0.84rem;
    color: #9198a2;
}
