<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">

	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
		<link rel="stylesheet" href="../css/ui-box.css">
		<link rel="stylesheet" href="../css/ui-base.css">
		<link rel="stylesheet" href="../css/ui-color.css">
		<link rel="stylesheet" href="../css/appcan.icon.css">
		<link rel="stylesheet" href="../css/appcan.control.css">
		<link rel="stylesheet" type="text/css" href="css/order_details.css" />
	</head>

	<body class="um-vp bc-bg" style="background-color:#f4f4f4;" ontouchstart>
		<div class="order-detail" id="orderDetail" v-cloak>
			<div v-bind:class="{pb:flag}">
				<div v-for="i in items">
					<div class="list list-head">
						<div class="ub-f1 ub">
							<h2 class="title ub-f1">{{i.statusText}}</h2>
							<div class="money">
								<span>总额明细：</span>
								<span class="total">￥{{i.saleAllPrice}}</span>
							</div>
						</div>
						<p class="code">订单号：{{i.orderNo}}</p>						
					</div>
					<div class="list list-table" v-if="i.orderType==1" v-for="al in i.aireLines">
						<img src="img/plane_flight.png" class="plane-bg">
						<div class="tr ub ub-ac">
							<div class="td bold">{{al.beginCity}}</div>
							<div class="td center"><img :src="al.logo" class="logo" onerror="this.src='../footer_book/flights/img/logo/logo.png'"></div>
							<div class="td bold">{{al.arriveCity}}</div>
						</div>
						<div class="tr ub">
							<div class="td bold">{{al.deptTime}}</div>
							<div class="td center"><img src="img/planeIcon.png" class="arrow"></div>
							<div class="td bold">{{al.arrTime}}</div>
						</div>
						<div class="tr ub">
							<div class="td">{{al.depAirport}}</div>
							<div class="td center bold">{{al.fightNo}}</div>
							<div class="td">{{al.arrAirport}}</div>
						</div>
						<div class="tr tr-line ub ub-ac">
							<div class="td ub ub-pe"><img src="img/green.png" class="green ub ub-ac"></div>
							<div class="td center bold"></div>
							<div class="td"><img src="img/end.png" class="end ub ub-ac"></div>
						</div>
						<p v-if="al.tktDate && i.status!=4" class="trip">
							出票时间:{{al.tktDate}}
						</p>
						<p class="trip" v-if="i.status==2 && !al.tktDate" @click="call()">							
							<span>尚未出票，如需出票请联系</span>
							<span><i class="fa fa-phone"></i>020-86132777</span>
						</p>
						
						<div class="cancel-btn" v-if="items.length>1 && (i.status==1 || i.status==2)" @click="cancel(i)">取消订单</div>
					</div>

					<div class="list list-hotels" v-if="i.orderType==2">
						<h3 class="title">{{i.hotelName}}</h3>
						<p>地址：{{i.hotelAddress}}</p>
						<p>类型：{{i.roomType}}</p>
						<p>{{i.breakfast}}</p>
						<p>入住时间：{{i.checkinDate}}~{{i.checkoutDate}} 共{{i.countDay}}晚</p>
						<p class="rule">规则：{{i.roomRule}}</p>
					</div>

					<!--<div class="list list-other" v-if="i.orderType==1 && i.tktDate">
						<div class="tr ub">
							<div class="name">出票时间</div>
							<div class="ub-f1">{{i.tktDate}}</div>
						</div>
					</div>-->

				</div>
				<div v-if="items[0]">
					<div class="list list-info">
						<div class="tr ub">
							<div class="name" v-if="items[0].orderType==1">机票数</div>
							<div class="name" v-if="items[0].orderType==2">房间数</div>
							<div class="name" v-if="items[0].orderType==3">火车票数</div>
							<div class="ub-f1">{{items[0].amount}}</div>
						</div>
						<div class="tr ub people-con ub-ac">
							<div class="name" v-if="items[0].orderType==1 || items[0].orderType==3">乘机人</div>
							<div class="name" v-if="items[0].orderType==2">入住人</div>
							<div class="ub-f1">
								<div class="people">
									<div class="tr ub" v-for="list in items[0].passages">
										<div class="p-name">{{list.name}}</div>
										<div class="ub-f1">{{list.cardNo}}</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tr ub ub-ac">
							<div class="name ub ub-ac">联系电话</div>
							<div class="ub-f1 ub ub-ac">
								<span class="ub-f1 ub ub0ac">{{items[0].userTel}}</span>
							</div>
						</div>
					</div>
					<div class="footer" id="cancelBtn" v-if="items.length===1 && (items[0].status==1 || items[0].status==2)" @click="cancel(items[0])">取消订单</div>
				</div>
			</div>

		</div>
	</body>
	<script src="../js/appcan.js"></script>
	<script src="../js/appcan.control.js"></script>
	<script src="../js/vue.min.js"></script>
	<script src="../js/common.js"></script>
	</body>
	<script>
		var app;
		function myMark(url, content) {
			var str = '';
			str += '<div class="bgset zhezhao">';
			str += '    <div class="loading-box ub ub-ver ub-ac">';
			str += '        <div class="loading-pic">';
			str += '            <img src="' + url + '">';
			str += '        </div>';
			str += '        <div class="loading-text">';
			str += '            <p>' + content + '</p>';
			str += '        </div>';
			str += '    </div>';
			str += '</div>';
			$("body").append(str);
		}

		function removeMyMark() {
			$(".zhezhao").remove();
		}
		$(function() {
			var myOrderId = appcan.locStorage.getVal("myOrderId");
			appcan.locStorage.remove("myOrderId");
			console.log(myOrderId);
			
			app = new Vue({
				el: "#orderDetail",
				data: {
					items: [],
					flag: true
				},
				methods: {
					cancel: function(item) {
						console.log(item);
						
						var response = confirm('你确定要取消订单吗？');
						if(response){
							myMark('../img/loading.gif', '正在取消，请稍后');
							if(item.orderType == 1) { //机票取消
								appcan.request.ajax({
									url: httpHost + 'flightController.do?cancelFlightModular',
									type: "POST",
									data: {
										PNR: item.pnr
									},
									dataType: 'json',
									success: function(data) {
										console.log(data);
										if(data.success) {
											alert('取消成功。');
											item.status = 4;
											item.statusText = statusText(item.status);
										} else {
											alert(data.msg);
										}
										removeMyMark();
									},
									error: function(err) {
										removeMyMark();
										alert(err);
									}
								});
							}
						}
						
//						appcan.window.alert({
//							title: '提示',
//							content: '你确定要取消订单吗？',
//							buttons: ['确定', '取消'],
//							callback: function(err, data, dataType, optId) {
//								if(data == 0) {
//									myMark('../img/loading.gif', '正在取消，请稍后');
//									if(item.orderType == 1) { //机票取消
//										appcan.request.ajax({
//											url: httpHost + 'flightController.do?cancelFlight',
//											type: "POST",
//											beforeSend: addHeader,
//											data: {
//												PNR: item.pnr
//											},
//											dataType: 'json',
//											success: function(data) {
//												console.log(data);
//												if(data.success) {
//													appcan.window.openToast('取消成功', 2000);
//													item.status = 4;
//													item.statusText = statusText(item.status);
//													appcan.window.publish('smartSuccess', true);
//												} else {
//													appcan.window.openToast(data.msg, 2000);
//												}
//												removeMyMark();
//											},
//											error: function(err) {
//												removeMyMark();
//												appcan.window.openToast(err, 2000);
//											}
//										})
//									}
//
//									if(item.orderType == 2) { //酒店取消
//										appcan.request.ajax({
//											url: httpHost + 'hotelController.do?cancelOrder',
//											type: "POST",
//											beforeSend: addHeader,
//											data: {
//												orderId: item.resid
//											},
//											dataType: 'json',
//											success: function(data) {
//												console.log(data);
//												if(data.success) {
//													appcan.window.openToast('取消成功', 2000);
//													item.status = 4;
//													item.statusText = statusText(item.status);
//												} else {
//													appcan.window.openToast(data.msg, 2000);
//												}
//												removeMyMark();
//											},
//											error: function(err) {
//												removeMyMark();
//												appcan.window.openToast(err, 2000);
//											}
//										})
//									}
//
//								}
//							}
//						});
					},
					call:function(){
						uexCall.dial("020-86132777");
					}
				},
			})

			if(myOrderId) {
				var orderIds = myOrderId.split(",");
				for(var i = 0; i < orderIds.length; i++) {
					queryOrder(orderIds[i]);
				}
			} else {
				alert('订单不存在。');
			}

			function queryOrder(orderId) {
				console.log(orderId);
				myMark('../img/loading.gif', '数据加载中，请稍后');
				appcan.request.ajax({
					url: httpHost + 'tmcOrdersController/' + orderId + '.do',
					type: "POST",
					dataType: 'json',
					success: function(data) {
						console.log(data);
						if(data.orderNo) {
							data.statusText = statusText(data.status);
							data.amount = data.passages.length;
							if(data.orderType == 1) {
								var len = myOrderId.split(",").length;
								if(len>1){
									data.amount = data.amount * len;
								}else{
									data.amount = data.amount * data.aireLines.length;
								}
								
							}
							for(var i = 0; i < data.aireLines.length; i++) {
								data.aireLines[i].logo = '../footer_book/flights/img/logo/' + data.aireLines[i].scoper + '.png';
							}
							if(data.status == 1 || data.status == 2) {
								app.flag = true;
							} else {
								app.flag = false;
							}
							app.items.push(data);
						} else {
							alert('订单不存在 。');
							window.history.back();
						}
						removeMyMark();
					},
					error: function(err, errMsg, error, errThrown, e) {
						removeMyMark();
						alert(errMsg);
					}
				});
			}

			function statusText(status) {
				switch(status) {
					case 1:
						return '订单待确认';
						break;
					case 2:
						return '订单已确认';
						break;
					case 3:
						return '订单已完成';
						break;
					case 4:
						return '订单已取消';
						break;
					case 5:
						return '订单已作废';
						break;
					default:
						break;
				}
			}

		})
	</script>

</html>