<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../css/ui-box.css">
        <link rel="stylesheet" href="../css/ui-base.css">
        <link rel="stylesheet" href="../css/ui-color.css">
        <link rel="stylesheet" href="../css/appcan.icon.css">
        <link rel="stylesheet" href="../css/appcan.control.css">
        <link rel="stylesheet" type="text/css" href="css/trip_details.css"/>
    </head>
    <body class="um-vp bc-bg" style="background-color:#f4f4f4;" ontouchstart>
        <div class="trip-head">
            <div class="tr ub ub-ac">
                <div class="td left">始发地</div>
                <div class="td ub-f1 center"></div>
                <div class="td right">目的地</div>
            </div>
            <div class="tr ub ub-ac tr-address">
                <div class="td left big ut-s" id="departure"></div>
                <div class="td ub-f1 center icon ub-img"></div>
                <div class="td right big ut-s" id="destination"></div>
            </div>
            <div class="tr ub ub-ac">
                <div class="td left">开始时间</div>
                <div class="td ub-f1 center"></div>
                <div class="td right">结束时间</div>
            </div>
            <div class="tr ub ub-ac tr-date">
                <div class="td left ub ub-pe ub-ac">
                    <div class="month" id="departMd"></div>
                    <div class="week">
                        <div id="departWeek"></div>
                        <div id="departYear"></div>
                    </div>
                </div>
                <div class="td ub-f1 center"></div>
                <div class="td right ub ub-ac">
                    <div class="month" id="destiMd"></div>
                    <div class="week">
                        <div id="destiWeek"></div>
                        <div id="destiYear"></div>
                    </div>
                </div>
            </div>
        </div>
        <ul id="tripList" class="trip-list" v-cloak>
            <div class="noinfo" v-if="items.length===0">
            该行程暂无预订
            </div>
            <li v-for="i in items">
                <!-- 飞机 -->
              <div v-if="i.type==1">
                <div class="head ub ub-ac">
                    <div class="type ub ub-ac">
                        <img src="img/plane.png" class="type-img">
                        <div>{{i.date}}</div>
                    </div>
                    <div class="ub ub-ac">
                        <i class="fa fa-clock-o"></i>
                        <span>{{i.tripState}}</span>
                    </div>
                </div>
                <div class="con plane">
                    <div class="tr ub">
                        <div class="td left">
                            <div class="ut-s left-p">{{i.aCity}}</div>
                        </div>
                        <div class="td center ub ub-ac ub-pc logo">
                            <img v-bind:src="'../footer_book/flights/img/logo/'+i.scoper+'.png'" class="logo-img">
                            <span>{{i.scoper}}</span>
                        </div>
                        <div class="td right">
                            <div class="ut-s">{{i.bCity}}</div>
                        </div>
                    </div>
                     <div class="tr ub">
                        <div class="td left">{{i.begin}}</div>
                        <div class="td center ub ub-ac ub-pc">
                            <img src="img/arrow.png" class="arrow">
                        </div>
                        <div class="td right">{{i.end}}</div>
                    </div>
                     <div class="tr ub">
                        <div class="td left">
                            <div class="ut-s left-p">{{i.beginCityZn}}</div>
                        </div>
                        <div class="td center ub ub-ac ub-pc">
                            {{i.FlightNo}}
                        </div>
                        <div class="td right">
                            <div class="ut-s">{{i.arriveCityZn}}</div>
                        </div>
                    </div>
                    <div class="tr ub ub-ac line">
                        <div class="td left ub ub-ac ub-pe">
                            <img src="img/green.png" class="green ub ub-ac">
                        </div>
                        <div class="td center"></div>
                        <div class="td right">
                            <img src="img/end.png" class="end ub ub-ac">
                        </div>
                    </div>
                </div>
              </div>
              <!-- 火车 -->
              <div v-if="i.type==3">
                <div class="head ub ub-ac">
                    <div class="type ub ub-ac">
                        <img src="img/plane.png" class="type-img">
                        <div>{{i.date}}</div>
                    </div>
                    <div class="ub ub-ac">
                        <i class="fa fa-clock-o"></i>
                        <span>计划火车</span>
                    </div>
                </div>
                <div class="con plane">
                    <div class="tr ub">
                        <div class="td left">
                            <div class="ut-s left-p">{{p.train.from_station_name}}</div>
                        </div>
                        <div class="td center ub ub-ac ub-pc logo">
                            <img src="img/train.png" class="logo-img">
                            <span>{{p.train.station_train_code}}</span>
                        </div>
                        <div class="td right">
                            <div class="ut-s">{{p.train.to_station_name}}</div>
                        </div>
                    </div>
                     <div class="tr ub">
                        <div class="td left">{{p.train.start_time}}</div>
                        <div class="td center ub ub-ac ub-pc">
                            <img src="img/arrow.png" class="arrow">
                        </div>
                        <div class="td right">{{p.train.arrive_time}}</div>
                    </div>
                </div>
              </div>
              <!-- 租车 -->
              <div v-if="i.type==4">
                <div class="head ub ub-ac">
                    <div class="type ub ub-ac">
                        <img src="img/car.png" class="type-img">
                        <div>11月25日</div>
                    </div>
                    <div class="ub ub-ac">
                        <i class="fa fa-clock-o"></i>
                        <span>计划租车</span>
                    </div>
                </div>
                <div class="con other">
                    <div class="tr ub">
                        <div class="name">租车公司：</div>
                        <div class="ub-f1 ut-s">哈哈哈</div>
                    </div>
                     <div class="tr ub ub-ac">
                        <div class="name">取车地址：</div>
                        <div class="ub-f1 ut-s">哈哈哈</div>
                        <img src="img/gps.png" class="gps ub ub-ac ub-pe">
                    </div>
                     <div class="tr ub">
                        <div class="name">租车公司：</div>
                        <div class="ub-f1 ut-s">哈哈哈</div>
                    </div>
                    <div class="tr ub">
                        <div class="name">联系电话：</div>
                        <div class="ub-f1 ut-s">15245444646</div>
                    </div>
                </div>
              </div>
              <div v-if="i.type==2">
                <div class="head ub ub-ac">
                    <div class="type ub ub-ac">
                        <img src="img/hotel.png" class="type-img">
                        <div>11月25日</div>
                    </div>
                    <div class="ub ub-ac">
                        <i class="fa fa-clock-o"></i>
                        <span>计划住店</span>
                    </div>
                </div>
                <div class="con other">
                    <div class="tr ub">
                        <div class="name">酒店名称：</div>
                        <div class="ub-f1 ut-s">{{i.hotel}}</div>
                    </div>
                     <div class="tr ub ub-ac">
                        <div class="name">酒店地址：</div>
                        <div class="ub-f1 ut-s">{{i.hotelAddr}}</div>
                        <img src="img/gps.png" class="gps ub ub-ac ub-pe">
                    </div>
                     <div class="tr ub">
                        <div class="name">入住时间：</div>
                        <div class="ub-f1 ut-s">{{i.begin.split(" ")[0]}}</div>
                    </div>
                    <div class="tr ub">
                        <div class="name">联系电话：</div>
                        <div class="ub-f1 ut-s">{{i.hotelTel}}</div>
                    </div>
                </div>
              </div>
            </li>
        </ul>
    </body>
    <script src="../js/appcan.js"></script>
    <script src="../js/appcan.control.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/common.js"></script>
    <script src="../footer_book/flights/js/airPortCitysMap.js"></script>
    </body>
    <script>
    function getData(){
        ajaxRequest({
            url : httpHost+'TMCTravelsController.do?getTravelDetailById',
            type : 'POST',
            beforeSend:addHeader,
            data:{id:appcan.locStorage.getVal("approvingId")},
            success:function(data){
                console.log(JSON.parse(data));
                var dataJson = JSON.parse(data);
                $("#departure").html(dataJson.obj.exp.from);
                $("#destination").html(dataJson.obj.exp.to);
                $("#departMd").html(NYR(dataJson.obj.exp.begin,2));
                $("#departWeek").html(NYR(dataJson.obj.exp.begin,3));
                $("#departYear").html(NYR(dataJson.obj.exp.begin,4));
                $("#destiMd").html(NYR(dataJson.obj.exp.begin,2));
                $("#destiWeek").html(NYR(dataJson.obj.exp.begin,3));
                $("#destiYear").html(NYR(dataJson.obj.exp.begin,4));
                var hasApproval = dataJson.obj.hasApproval;
                for (var i=0;i<hasApproval.length;i++){
                    if(hasApproval[i].type == 0){
                        hasApproval.splice(i,1);
                        i--;
                        continue;
                    }
                    switch(parseInt(hasApproval[i].tripState)){
                        case 1:
                            hasApproval[i].tripState="生成订单";
                            break;
                        case 2:
                            hasApproval[i].tripState="确认订单";
                            break;
                        case 3:
                            hasApproval[i].tripState="完成订单";
                            break;
                        case 4:
                            hasApproval[i].tripState="取消订单";
                            break;
                        case 5:
                            hasApproval[i].tripState="作废订单";
                    }
                    hasApproval[i].date = NYR(hasApproval[i].begin,1);
                    hasApproval[i].begin = NYR(hasApproval[i].begin,2);
                    hasApproval[i].end = NYR(hasApproval[i].end,2);
                    hasApproval[i].hbegin=NYR(hasApproval[i].begin,2);
                    hasApproval[i].hbtime=HM(hasApproval[i].begin);
                    hasApproval[i].hetime=HM(hasApproval[i].end);
                    if(hasApproval[i].type==1){
                        for(var key in citysMap){
                            if(key == hasApproval[i].beginCity){
                               hasApproval[i].bCity = citysMap[key];
                            }
                            else if(key == hasApproval[i].arriveCity){
                                hasApproval[i].aCity = citysMap[key];
                            }
                        }
                    }
                }
                app.items = hasApproval;
            },
            error:function(err,errMsg,error){
                appcan.window.openToast(errMsg,2000);
            }
        },"../img/loading.gif");
    }
    var app={};
    appcan.ready(function(){
        app = new Vue({
            el:"#tripList",
            data:{
                items:{}
            },
            methods:{
                
            }
        })
        getData();
    })
    </script>
</html>
