#ScrollContent {
	padding:0em 0em 2.69em 0em;
}
#Footer {
	height:2.63em;
}
.uinn-pic2{
    padding:0 0.3125em;
}
.b-gra-d8{
    border-color:#d8d8d8;
}
.us-pic1{
    -webkit-box-shadow: inset 0px 1px 0 #fff;
    box-shadow: inset 0px 1px 0 #fff;
}
.uw-pic1{
    width:2em;
}
.mw15{
    min-width: 2em;
}
.uinn-4b {
    padding-bottom: 2.69em;
}
.uinn-at4{
    padding: 0em 0.5em 0em !important;
}
.uinn-4a {
    padding-top: 0em !important;
}
.uinn-a4{
    padding:0em .5em 0 !important;
}

.c-wh-pLG{
	background-color:#f2f2f2;
}
.uinn-pLb1{
	padding-bottom:0.7em;
}
.userImg{
	background-image:url('myImg/userImg.png');
}
.pwdImg{
	background-image:url('myImg/pwdImg.png');
}
.b-gra3{
	border-color:#d8d8d8;
}
.uinn-a4{
	padding:0.9em 0.625em 0.8125em 0.625em;
}
.t-gra2 {
	color: #d8d8d8;
}
.t-gra3 {
	color: #484848;
}
.mar-ar2 {
margin-right: 0.375em;
}
.uinn-a5 {
padding: 0.8125em 0.625em 0.9em 0.625em;
}
.uinn-a6 {
padding: 1em 0.65em 0 0.65em;
}
.uinn-a1{
    padding:0.625em;
}
.c-wh{
    background-color: white;
}
.uinn-a4{
    padding:3.63em .5em 0;
}
