.b-blu1{
	border-color:#0060a1;
}
.c-blu1{
	background-color:#0670b7;
}
.b-org-SC1{
	border-color:#c95500;
}
.uinn-SC4{
	padding:0.5em 0.625em;
}
.uinn6
{
	padding:0.66em 0.875em;
	margin:0;
}
.t-gra5{
	color:#686868;
}
.sc-bg-warn
{
    background:#F6F6F6;
}
.umar-r1 {
margin-right: 1.5em !important;
}
.tx-c {
font-size: 0.8em;
}