.list-header {
	background-color: #5890ff;
	height: 1.2rem;
	color: #fff;
}

.hotel-img {
	width: 0.6rem;
	height: 0.6rem;
	margin-left: 0.6rem;
}

.list-font {
	margin-left: 0.4rem;
	font-size: 0.5rem;
}


#hotelList {
	padding: 0 12px;
}

.hotel_show {
	margin-top: 0.5rem;
	-webkit-box-shadow: 2px 2px #e4e6e5;
	-moz-box-shadow: 2px 2px #e4e6e5;
	-o-box-shadow: 2px 2px #e4e6e5;
	box-shadow: 2px 2px #e4e6e5;
}

.hotel_show img:first-child {
	height: 200px;
	width: 100%;
}

.swipe-wrap{
	position: relative;
}

.hotel-price {
	width: 65px;
	height: 65px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background-color: #f8c255;
	border: 3px solid #fff;
	position: absolute;
	bottom: -20px;
	right: 20px;
	font-size: 12px;
	color: #333;
}

.hotel-price div:first-child {
	padding-bottom: 0.1rem;
}

.hotel-price .line-img {
	width: 55px;
	height: 1px;
}

.hotel-price div:last-child {
	font-weight: 700;
	padding-top: 0.1rem;
}

.hotel-name {
	margin-top: 8px;
	padding: 0 5px;
	color: #5890fc;
	font-size: 15px;
	font-weight: 700;
	z-index: 999;
	position: relative;
}

.address {
	padding: 5px;
	font-size: 15px;
	color: #9198a2;
}