<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">

	<head>
		<title>机票列表</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="/module/css/fonts/font-awesome.min.css" />
		<link rel="stylesheet" href="/module/css/ui-box.css">
		<link rel="stylesheet" type="text/css" href="/module/css/mui/mui.min.css" />
		<link rel="stylesheet" href="/module/css/mobiscroll.min.css">
		<link rel="stylesheet" href="css/plane_searchresult.css">
		<link title="blue" rel="stylesheet" href="/module/css/skin/skin-blue.css">
		<link title="green" rel="stylesheet" href="/module/css/skin/skin-green.css" disabled="disabled">
		<link title="red" rel="stylesheet" href="/module/css/skin/skin-red.css" disabled="disabled">
		<link title="yellow" rel="stylesheet" href="/module/css/skin/skin-yellow.css" disabled="disabled">
		<link title="black" rel="stylesheet" href="/module/css/skin/skin-black.css" disabled="disabled">
		<script src="/module/js/global.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav deep-bg">
			<div class="cl mui-bar-head">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="back"></a>
				<div class="mui-title ub ub-ac ub-pc">
					<span id="isBack"></span>
					<div id="depPlane">北京</div>
					<div class="head-icon ub-img"></div>
					<div id="arrPlane">上海</div>
				</div>
				<a href="tel:02086132777" class="mui-icon mui-icon-phone mui-pull-right"></a>
			</div>
			<div class="ub ub-ac mui-bar-calendar">
				<div class="ub ub-ac ub-arrow-left" id="prevDay">
					<i class="mui-icon mui-icon-arrowleft"></i>
					<div>
						<span>前一天</span>
						<div id="prevDayPrice"></div>
					</div>
				</div>
				<div class="ub-f1" id="dateSelect">
					<div class="ub ub-ac calendar-div">
						<i class="fa fa-calendar shallow-text"></i>
						<div class="ub-f1">
							<input type="text" id="calendar" class="calendar" readonly="readonly" />
						</div>
						<i class="fa fa-angle-down"></i>
					</div>
				</div>
				<div class="ub ub-ac ub-pe ub-arrow-right" id="nextDay">
					<div>
						<span>后一天</span>
						<div id="nextDayPrice"></div>
					</div>
					<i class="mui-icon mui-icon-arrowright"></i>
				</div>
			</div>
		</header>
		<div class="ub-f1 longlist mui-content">
			<div id="msg" class="plane-msg shallow-text"></div>
			<div id="planeTicketlist">
				<ul class="plane-list-result" v-cloak>
					<li v-for='item in items' v-on:click="openRand(item)">
						<div class="info ub">
							<div>
								<p class="big">{{item.myDepDate}}</p>
								<p class="top">{{item.fromName}}{{item.depAirport}}</p>
							</div>
							<div class="ub ub-f1 ub-ac" v-if="item.stopNum <= 0">
								<div class="arrow ub-img ub-f1"></div>
							</div>
							<div v-else>
								<div class="arrow ub-img">经停</div>
								<div class="top">{{item.myStopCity}}</div>
							</div>
							<div>
								<p class="big">{{item.myArrDate}}</p>
								<p class="top">{{item.toName}}{{item.arrAirport}}</p>
							</div>
							<div>
								<div class="big red money" v-if="item.minPrice==''">无</div>
								<div class="big red money" v-else>￥{{item.minPrice}}<span class="small">起</span></div>
								<div class="top red" v-if="item.discount < 10 && item.discount > 0"><span class="small">{{item.shipping}} {{item.discount}}折</span></div>
							</div>
						</div>
						<div class="tails ub ub-ac">
							<img :src="item.logo" class="logo ub-ac ub" onerror="this.src='/module/img/logo/logo.png'">
							<span>{{item.companyName}}{{item.carrier}}{{item.flightNo}}<span class="blue shallow-text" v-if="item.shareFlight!=''"> 共享{{item.shareFlight}}</span></span>
							<span class="interval">|</span>
							<span>历时{{item.duration}}分</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="screen ub" id="screen">
			<div class="ub ub-f1 ub-ac ub-pc" id="departTime">
				<div>起飞时间</div>
				<div class="ub ub-ac">
					<i class="fa fa-caret-up active"></i>
					<i class="fa fa-caret-down"></i>
				</div>
			</div>
			<div class="ub ub-f1 ub-ac ub-pc" id="lowestPrice">
				<div>最低价格</div>
				<div class="ub ub-ac">
					<i class="fa fa-caret-up"></i>
					<i class="fa fa-caret-down"></i>
				</div>
			</div>
		</div>
	</body>
	<script src="/module/js/mui/mui.min.js"></script>
	<script src="/module/js/layer/layer.js"></script>
	<script src="/module/js/jquery.min.js"></script>
	<script src="/module/js/newairport.js"></script>
	<script src="/module/js/airPortNameMaps.js"></script>
	<script src="/module/js/shipping.js"></script>
	<script src="/module/js/mobiscroll.min.zh.js"></script>
	<script src="/module/js/vue.min.js"></script>
	<script>
		var flightFromCityNode;
		var flightToCityNode;
		var airDate;
		var flightSiteType;
		var flightKeyWord;
		var app;
		var screenDir = 0; //是否是正序
		var screenType = 0; //筛选的类型
		var isReturn = false; //是否往返

		flightFromCityNode = localGetItem("returnFlight") == 0 ? localGetItem("flightFromCityNode") : localGetItem("flightToCityNode");
		flightToCityNode = localGetItem("returnFlight") == 0 ? localGetItem("flightToCityNode") : localGetItem("flightFromCityNode");

		if(localGetItem('return') == 'true') {
			if(localGetItem('returnFlight') == '0') {
				airDate = localGetItem('airDate');
				$("#calendar").val(airDate);
			} else if(localGetItem('returnFlight') == '1') {
				var startDate = (new Date(localGetItem('airDate'))).getTime();
				var endDate = (new Date(localGetItem('backAirDate'))).getTime();

				if(startDate > endDate) {
					localSetItem('backAirDate', localGetItem('airDate'));
				}
				airDate = localGetItem('backAirDate');
				$("#calendar").val(airDate);
			}
		} else if(localGetItem('return') == 'false') {
			airDate = localGetItem('airDate');
			$("#calendar").val(airDate);
		} else {
			airDate = NYR(new Date(), 1);
			$("#calendar").val(airDate);
		}		
		flightSiteType = localGetItem("flightSiteType");
		if(flightSiteType) {
			flightSiteType = flightSiteType.substring(0, flightSiteType.length - 1);
			if(flightSiteType != '无') {
				flightSiteType = flightSiteType.split(",");
			}
		}
		flightKeyWord = localGetItem("flightKeyWord");

		$(function() {
			//头部初始化操作
			if(localGetItem("return") == "true") {
				if(localGetItem("returnFlight") == 0) {
					$("#isBack").html("往：");
					$("#depPlane").html(localGetItem("flightFromCity"));
					$("#arrPlane").html(localGetItem("flightToCity"));
				} else if(localGetItem("returnFlight") == 1) {
					$("#isBack").html("返：");
					$("#depPlane").html(localGetItem("flightToCity"));
					$("#arrPlane").html(localGetItem("flightFromCity"));
				}
			} else {
				$("#depPlane").html(localGetItem("flightFromCity"));
				$("#arrPlane").html(localGetItem("flightToCity"));
			}

			if(!flightFromCityNode || !flightToCityNode) {
				mui.alert('参数有误，请重新查询', function() {
					mui.back();
				});
			} else {
				showPlaneList(); //航班列表
				getMinDatePrice(); //最低价格
			}

			mui(".mui-bar-head").on("tap", "#back", function() {
				localSetItem("openFlightSearchResult", "false");
				if(localGetItem("returnFlight") == "1") {
					localSetItem("returnFlight", 0);
				} else if(localGetItem("returnFlight") == "0") {
					localSetItem("return", "false");
				}
//				window.history.back();
			})

			showCalendar(); //展示日期

			mui(".mui-bar-calendar").on("tap", "#prevDay", function() {
				prevDay();
			})

			mui(".mui-bar-calendar").on("tap", "#nextDay", function() {
				nextDay();
			})
			//头部初始化操作结束

		});

		var app = new Vue({
			el: '#planeTicketlist',
			data: {
				items: [],
			},
			methods: {
				openRand: function(item) {
					if(localGetItem("return") == "true" && localGetItem("returnFlight") == 1) {
						localSetItem("backFlightDetail", JSON.stringify(item));
					} else {
						localSetItem("flightDetail", JSON.stringify(item));
					}
					window.location.href = 'plane_book.html';
				}
			}
		});

		var planePm = {
			fromCity: flightFromCityNode,
			toCity: flightToCityNode,
			airDate: airDate,
			siteType: flightSiteType,
			cmdShare: "1",
			stopType: "ST_Direct" //ST_Nonstop("N"), 直达无经停 ST_Direct("D"), 直达有经停 ST_All("A"); 
		};

		var flightsArr = [];

		//屏蔽航司：春秋 9C。西部  PN。中联  KN。九元  AQ。成都  EU。华夏  G5。长安  9H。
		var shield = [];
		//屏蔽公司接口
		function shieldRequest() {
			mui.ajax({
				url: httpHost + 'tmcDeleteFlightsController.do?all',
				beforeSend: addHeader,
				type: "POST",
				dataType: "json",
				success: function(data) {
					console.log(data);
					if(data.length > 0) {
						for(var i = 0; i < data.length; i++) {
							shield.push(data[i].flightCode);
						}
					}
				},
				error: function(err) {
					console.log(err);
				}
			});
		}

		//渲染数据
		function showPlaneList() {
			layer.open({
				type: 2,
				content: '数据正在加载',
				shadeClose: false
			});
			var abort = mui.ajax({
				url: httpHost + 'flightController.do?queryFlightsListModular',
				data: planePm,
				type: "POST",
				dataType: 'json',
				timeout:30*1000,
				success: function(data) {
					layer.closeAll();
					console.log(data);
					screenClick();
					if(data.success) {
						if(data.obj) {
							$("#planeTicketlist").show();
							$("#msg").hide();
							var flights = filterCode(data.obj.data.flights);
							flights = compareArrList(flights);
							if(flights && flights.length > 0) {
								for(var i = 0; i < flights.length; i++) {
									var seat = flights[i].seats;
									var logo = '/module/img/logo/' + flights[i].carrier + '.png';
									flights[i].companyName = airPortNameMaps[flights[i].carrier];
									flights[i].logo = logo;
									var seatArr = getMinPrice(seat);
									flights[i].minPrice = seatArr[0];
									flights[i].discount = (seatArr[1] * 1 / 10).toFixed(1);
									flights[i].shipping = seatArr[2];
									if(seatArr[2] != undefined || seatArr[2]) {
										flights[i].shipping = seatArr[2];
									} else {
										flights[i].shipping = '其他舱位';
									}
									flights[i].fromName = airPortInfos[flights[i].depart].airPortName;
									flights[i].toName = airPortInfos[flights[i].arrival].airPortName;
									var myDepDateHours = flights[i].depDate.hours < 10 ? "0" + flights[i].depDate.hours : flights[i].depDate.hours;
									var myDepDateMinutes = flights[i].depDate.minutes < 10 ? "0" + flights[i].depDate.minutes : flights[i].depDate.minutes;
									var myArrDateHours = flights[i].arrDate.hours < 10 ? "0" + flights[i].arrDate.hours : flights[i].arrDate.hours;
									var myArrDateMinutes = flights[i].arrDate.minutes < 10 ? "0" + flights[i].arrDate.minutes : flights[i].arrDate.minutes;
									flights[i].myDepDate = myDepDateHours + ':' + myDepDateMinutes;
									flights[i].myArrDate = myArrDateHours + ':' + myArrDateMinutes;
								}
							} else {
								$("#planeTicketlist").hide();
								$("#msg").show();
								$("#msg").text("查无结果或暂时无票");
							}
							flightsArr = flights;
							app.items = doOrder(flights, screenType, screenDir);
						} else {
							$("#planeTicketlist").hide();
							$("#msg").show();
							$("#msg").text("查无结果或暂时无票");
						}

					} else {
						$("#planeTicketlist").hide();
						$("#msg").show();
						if(data.msg == 'vip.yeefare.com') {
							$("#msg").text('网络信号不太好，请稍后重试。');
						} else {
							$("#msg").text(data.msg);
						}
					}

				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					layer.closeAll();
					abort.abort();
					$("#planeTicketlist").hide();
					$("#msg").show();
					$("#msg").text("网络请求异常，请重新查询");
				}
			});
		}

		//屏蔽不想要的航空公司
		function shieldCompany(obj) {
			if(obj) {
				if(shield.length > 0) {
					for(var j = 0; j < obj.length; j++) {
						if(shield.indexOf(obj[j].carrier) > -1) {
							obj.splice(j, 1);
							j--;
						}
					}
				}

			}

			return obj;
		}

		//过滤舱位信息
		function filterCode(arr) {
			if(flightSiteType != '无' && flightSiteType !== null) {
				for(var i = 0; i < arr.length; i++) {
					var seat = arr[i].seats;
					for(var j = 0; j < seat.length; j++) {
						if(!(flightSiteType.indexOf(seat[j].code) > -1)) {
							seat.splice(j, 1);
							j--;
						}
					}
				}
			}
			return arr;
		}

		//获取舱位最低价格
		function getMinPrice(arr) {
			var minPrice = arr[0].price;
			var discount = arr[0].sale;
			var shipping = myShipping[arr[0].code];
			for(var i = 1; i < arr.length; i++) {
				if(arr[i].price < minPrice) {
					minPrice = arr[i].price;
					discount = arr[i].sale;
					shipping = myShipping[arr[i].code];
				}
			}
			var seatArr = [minPrice, discount, shipping];
			return seatArr;
		}

		//如果舱位价格全部是空的就把这个列表去掉
		function compareArrList(arr) {
			if(arr.length > 0) {
				for(var i = 0; i < arr.length; i++) {
					var seat = compareArr(arr[i].seats);
					if(seat.length === 0) {
						arr.splice(i, 1);
						i--
					}
				}
				return arr;
			}
			return;
		}

		//去掉舱位空的价格
		function compareArr(arr) {
			if(arr.length > 0) {
				for(var i = 0; i < arr.length; i++) {
					if(arr[i].price !== "" && arr[i].price !== 0 && arr[i].price !== null) {
						continue;
					}
					arr.splice(i, 1);
					i--;
				}
				return arr;
			}
			return [];
		}

		var minPm = {
			"fCity": flightFromCityNode,
			"tCity": flightToCityNode,
			"date": airDate,
			"dayNum": 3
		};

		//获取最近三天最低价格
		function getMinDatePrice() {
			var abort = mui.ajax({
				url: httpHost + "flightController.do?queryLowPriceByDate",
				data: minPm,
				type: "POST",
				dataType: 'json',
				timeout:30*1000,
				success: function(data) {
					console.log(data);
					if(data.lowPrices) {
						if(data.lowPrices.length > 0) {
							localSetItem("mainMInPrice", JSON.stringify(data));
							getMainMInPrice();
						}
					}
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					abort.abort();
					console.log(XMLHttpRequest, textStatus);
				}
			})
		}

		function prevDay() {
			var myDate = localGetItem(localGetItem('returnFlight') == 1 ? 'backAirDate' : 'airDate');
			var curDate = new Date();
			var dateText = asDay(new Date(myDate), 1, 1);
			var poor = (new Date(dateText).getTime() - (new Date(NYR(curDate, 1))).getTime());
			if(poor >= 0) {
				localSetItem(localGetItem('returnFlight') == 1 ? 'backAirDate' : 'airDate', dateText);
				airDate = dateText;
				setDate(dateText);
				$("#calendarHidden").val(dateText);
				planePm.airDate = dateText;
				minPm = {
					"fCity": flightFromCityNode,
					"tCity": flightToCityNode,
					"date": dateText,
					"dayNum": 3
				};
				getMinDatePrice();
				showPlaneList();
			} else {
				layer.open({
					content: '不能选择小于今天的日期',
					skin: 'msg',
					time: 2
				});
			}
		}

		function nextDay() {
			var myDate = localGetItem(localGetItem('returnFlight') == 1 ? 'backAirDate' : 'airDate');
			var dateText = asDay(new Date(myDate), 1, 0);
			airDate = dateText;
			localSetItem(localGetItem('returnFlight') == 1 ? 'backAirDate' : 'airDate', dateText);
			setDate(dateText);
			$("#calendarHidden").val(dateText);
			planePm.airDate = dateText;
			minPm = {
				"fCity": flightFromCityNode,
				"tCity": flightToCityNode,
				"date": dateText,
				"dayNum": 3
			};
			getMinDatePrice();
			showPlaneList();
		}

		function showCalendar() {
			var today = $("#calendar").val();
			var thismin = localGetItem("returnFlight") == 1 ? new Date(localGetItem("airDate")) : new Date();
			$("#calendar").mobiscroll().calendar({
				min: thismin,
				dateFormat: 'yy-mm-dd',
				defaultValue: new Date(today),
				onSet: function(val, obj) {
					val = val.valueText;
					localSetItem(localGetItem('returnFlight') == 1 ? 'backAirDate' : 'airDate', val);
					setDate(val);
					planePm.airDate = val;
					minPm = {
						"fCity": flightFromCityNode,
						"tCity": flightToCityNode,
						"date": val,
						"dayNum": 3
					};
					getMinDatePrice();
					showPlaneList();
				}
			});
		}

		//排序
		function doOrder(datas, type, dir) {
			//type 0代表起飞时间,1代表到达时间，2最低价
			//dir 0代表正序，1代表倒叙
			var temp;
			if(datas != null && datas.length > 0) {
				for(var i = 0; i < datas.length - 1; i++) {
					for(var j = i + 1; j < datas.length; j++) {
						var value1 = getComPareValue(datas[i], type);
						var value2 = getComPareValue(datas[j], type);
						if(dir == 0) { //正序
							if(value1 > value2) {
								temp = datas[i];
								datas[i] = datas[j];
								datas[j] = temp;
							}
						} else { //d倒叙
							if(value1 < value2) {
								temp = datas[i];
								datas[i] = datas[j];
								datas[j] = temp;
							}
						}
					}
				}
			}
			return datas;
		}

		function getComPareValue(data, type) {
			var compareValue;
			var planeDate = localGetItem(localGetItem('returnFlight') == 1 ? 'backAirDate' : 'airDate');
			if(type == 0) {
				var myDepDate = new Date(NYR(planeDate, 1).replace(/-/g, "/") + ' ' + data.myDepDate).getTime();
				compareValue = myDepDate;
			} else if(type == 1) {
				var myArrDate = new Date(NYR(planeDate, 1).replace(/-/g, "/") + ' ' + data.myArrDate).getTime();
				compareValue = myArrDate;
			} else {
				compareValue = getMinPriceOrder(data.seats);
			}
			return compareValue;
		}

		function getMinPriceOrder(arr) {
			var minPrice = arr[0].price;
			for(var i = 1; i < arr.length; i++) {
				if(arr[i].price < minPrice) {
					minPrice = arr[i].price;
				}
			}
			return minPrice;
		}

		//起飞时间排序
		mui("#screen").on("tap", "#departTime", function() {
			var self = $(this);
			var type = screenList(self);
			screenType = 0;
			app.items = doOrder(flightsArr, screenType, type);
		});

		//到达时间排序
		// appcan.button("#arriveTime","btn-act",function(){
		// var self = $(this);
		// var type = screenList(self);
		// screenType = 1;
		// app.items = doOrder(flightsArr,screenType,type);
		// });

		//最低价排序
		mui("#screen").on("tap", "#lowestPrice", function() {
			var self = $(this);
			var type = screenList(self);
			screenType = 2;
			app.items = doOrder(flightsArr, screenType, type);
		})

		function screenList(obj) {
			var first = obj.find(".fa-caret-up").hasClass("active");
			if(first) {
				$("#screen i").removeClass("active");
				obj.find(".fa-caret-down").addClass("active");
				screenDir = 1;
			} else {
				screenDir = 0;
				$("#screen i").removeClass("active");
				obj.find(".fa-caret-up").addClass("active");
			}
			app.items = [];
			return screenDir;
		}

		//数据加载的时候不给点击筛选
		function screenNoClick() {
			$("#screen").addClass("active");
		}

		//数据加载完给点击筛选
		function screenClick() {
			$("#screen").removeClass("active");
		}

		//最低价格
		function getMainMInPrice() {
			var lowArr = localGetItem("mainMInPrice");
			localRemoveItem("mainMInPrice")
			lowArr = JSON.parse(lowArr).lowPrices;
			if(lowArr[2].price) {
				$("#prevDayPrice").text(lowArr[0].price > 0 ? '￥' + lowArr[0].price : '无');
				$("#nextDayPrice").text(lowArr[2].price > 0 ? '￥' + lowArr[2].price : '无');
			}
		}

		//设置日期
		function setDate(date) {
			$("#calendar").val(date);
		}
		//加遮罩层防止频繁点击
		function preventClick() {
			$("#dateList").addClass("active");
		}

		//去掉遮罩层
		function outMask() {
			$("#dateList").removeClass("active");
		}
	</script>

</html>